<!DOCTYPE html>
<html>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<style scoped>
		body {
			font-family: Arial;
		}

		/* Style the tab */
		.alinear {
			margin: auto;
			width: 60%;
			border: 3px solid #73AD21;
			padding: 10px;
		}

		.tab {
			overflow: hidden;
			border: 1px solid #ccc;
			background-color: #f1f1f1;
		}

		/* Style the buttons inside the tab */
		.tab button {
			background-color: inherit;
			float: left;
			border: none;
			outline: none;
			cursor: pointer;
			padding: 14px 16px;
			transition: 0.3s;
			font-size: 17px;
		}

		/* Change background color of buttons on hover */
		.tab button:hover {
			background-color: #ddd;
		}

		/* Create an active/current tablink class */
		.tab button:active {
			background-color: #ccc;
		}

		/* Style the tab content */
		.tabcontent {
			display: none;
			padding: 6px 12px;
			border: 1px solid #ccc;
			border-top: none;
		}

		.tabcontent1 {
			display: block;
			padding: 6px 12px;
			border: 1px solid #ccc;
			border-top: none;
		}
	</style>
</head>

<body>
	<div id="app">

		<div style="display: flex;">
			<textarea style="display: flex;" v-model='links' placeholder="Escribe links" :rows="rows"></textarea>
			<textarea style="display: flex;" v-model='valores' placeholder="Escribe los scripts" id="scripts_valores"
				:rows="rows"></textarea>
				<div>
			<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" v-model="dominios_shopify">
			 <label for="vehicle1"> Verificar dominio activo shopify</label><br></div>
		</div>
		<button @click="comprobar_script">Comprobar scripts</button>

		<textarea style="display: flex;" v-model='resultados' placeholder="Resultados" disabled rows="rows"
			cols="160"></textarea>


		Porcentaje: {{porcentaje}} %

		<textarea style="display: flex;" v-model='problemas' placeholder="Problemas" disabled rows="rows"
			cols="160"></textarea>

	</div>
	<script>
		new Vue({
			el: '#app',
			data: {
				links: '',
				valores: '',
				rows: 5,
				resultados: '',
				porcentaje: 0,
				acumulador: 0,
				problemas: '',
				dominios_shopify:false,
			},
			mounted() {


			},
			watch: {
				dominios_shopify(){
						if(this.dominios_shopify){
							document.getElementById("scripts_valores").disabled=true;
						}
						else
						document.getElementById("scripts_valores").disabled=false;
				}
			},
			computed: {
			},
			methods: {

				comprobar_script() {
					var texto='<link rel="preconnect" href="https://cdn.shopify.com" crossorigin><link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin><title>';
					this.porcentaje = 0;
					this.resultados = '';
					this.problemas = '';
					var links = this.links.split("\n");
					this.acumulador = 100 / links.length;
					var valores = this.valores.split("\n");
					for (var i = 0; i < links.length; i++) {
						if(this.dominios_shopify)
							this.peticion(links[i],texto);
						else
						this.peticion(links[i], valores[i]);
					}
				},

				peticion(url, script) {
					if(this.dominios_shopify){
						if(url.charAt(url.length-1)=='/')
						url=url+"pages/contact";
						else
						url=url+"/pages/contact";
					}
					if(!url.includes("http"))
						url="https://"+url;
					var This = this;
					fetch(url).then(function (response) {
						return response.text();
					}).then(function (html) {
						if (html.includes(script.substring(0, 20))) {
							if (html.includes(script.substring(script.length - 10, script.length - 1))) {
								if (This.veces_repetidas(html, script.substring(script.length - 20, script.length - 1)) > 1)
									This.problemas += url + "  Script repetido" + "\n";
								else
									This.resultados += url + " Links correcto" + "\n";

							}
							else
								This.problemas += url + "  Falta script" + "\n";
						} else
							This.problemas += url + "   Falta script" + "\n";
						This.porcentaje = This.porcentaje + This.acumulador;
					}).catch(function (err) {
						console.warn('Something went wrong.', err);
					});
				},
				veces_repetidas(palabra, frase) {
					let posicion = palabra.indexOf(frase);
					if (posicion > -1) {
						return 1 + this.veces_repetidas(palabra.substring(posicion + 1, palabra.length), frase);
					}

					return 0;
				},
				limpiar() {
					this.links = "";
					this.valores = "";
				},
			}


		});
	</script>
</body>

</html>