<!DOCTYPE html>
<html>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
</head>

<body>
	<div id="app">
		<textarea v-model="paginas"></textarea>
		<button @click="verificar">Verificar paginas</button>
		<div v-for="item in estatus">
			<p>Pagina {{item.pagina}}</p>
			<p>Estatus {{item.estatus}}</p>
		</div>
	</div>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		new Vue({
			el: '#app',
			data: {
				paginas: '',
				estatus: [],

			},
			mounted() {


			},
			watch: {
			},
			computed: {
			},
			methods: {
				async ejecutar(pagina) {

					var http = new XMLHttpRequest();
					http.open('HEAD', pagina, false);
					http.send();
					return http.status != 404;

				},
				verificar() {
					const web = this.paginas.split("\n");
					for (var i = 0; i < web.length; i++) {
						if (!web[i].includes("https://"))
							web[i] = "https://" + web[i];
						console.log(web[i])
						this.ejecutar(web[i]);
					}
				},
			}


		});
	</script>
</body>

</html>