<!DOCTYPE html>
<html>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<style scoped>
body {font-family: Arial;}

/* Style the tab */
.alinear {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button:active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.tabcontent1 {
  display: block;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>
</head>
<body>
 <div id="app">
		 <textarea v-model='name_replace' ref="name_replace" placeholder="Escriba aqui el nombre" cols="30"></textarea>
		 <textarea v-model='url_replace' @click="limpiar_url" ref="url_replace" placeholder="Escriba aqui la url" 	   cols="30"></textarea>
		 <textarea v-model='datos_tienda' @click="limpiar_datos_tienda" ref="datos_tienda" placeholder="Escriba los datos de la tienda" 	   cols="30"></textarea>
		 <label><input type="checkbox" id="cbox1" v-model="nombre_corto">Obtener nombre</label>
		 <button @click="copiar('url_replace')">Copiar url</button>
		 <button @click="copiar('name_replace')">Copiar nombre</button>
		 <br>
		<div class="tab">
		 <button @click="setActive('privacy_policy')">Privacy</button>
		 <button @click="setActive('return_policy')">Return</button>
		 <button @click="setActive('terms')">Terms</button>
		 <button @click="cvv('cvv')">Ultimos 6 Digitos Tarjeta</button>
		 <button @click="setActive('datos_tienda')">Nombre tienda</button>
		 <button>
			 <label><input type="checkbox" id="cbox1" v-model="metodo_corto">Metodo corto</label><br>
		</button>

			 <button @click="setActive('generador_cvv')">Generador csv</button>
			 <button @click="setActive('generador_archivo')">Descargar csv</button>
			 <button @click="setActive('generador_numeros')">Generador de numeros</button>
			 <button @click="setActive('debug_domain')">Debugin Domain facebook</button>
			 <button @click="setActive('paginas')">Paginas</button>
		</div>

		 <div id="privacy_policy" class="tabcontent" :class="{'tabcontent1':isActives('privacy_policy')}" ref="privacy_policy">
			<h1><strong>Privacy Policy</strong></h1>
			<h3><strong>How is Your Information Collected?</strong></h3>
			<p ><strong>You Provide It to Us</strong></p>
			<p >We collect information that you enter on our digital properties or give us in other ways (e.g. when you order on<span> </span> {{url_replace}} , purchase a product in an<span> </span> {{name_replace}}  store or create a gift registry).</p>
			<p ><strong>Automated Information Collection</strong></p>
			<p >We may connect information collected automatically with information we already have about you in order to identify you as a<span> </span> {{name_replace}}   guest. If we are able to identify you as a<span> </span> {{name_replace}}   guest we may, for example, link your activity on our website to your activity in a<span> </span> {{name_replace}}   store or on one of our mobile applications. This allows us to provide you with a personalized experience regardless of how you interact with us – online, in store, mobile, etc.</p>
			<p >In order to provide the best guest experience possible, we also use automated information collection technologies for reporting and analysis purposes. We examine metrics such as how you are shopping on our website, in our stores, and on our mobile applications, the performance of our marketing efforts, and your response to those marketing efforts.</p>
			<p ><strong>Third-party automated collection</strong></p>
			<p >We and our service providers use anonymous identifiers such as cookies and other technologies to collect and store certain types of information (e.g. click stream information, browser type, time and date, subject of advertisements clicked or scrolled over, hardware/software information, cookie and session ID) whenever you interact with us or third-parties that use our services.</p>
			<p >We also allow third-party companies (e.g., Google) to place tags on our digital properties once approved through our tagging process. The tags may collect information from your interactions on<span> </span> {{url_replace}} . Our Privacy Policy does not cover these third party companies. Please contact these third party companies (e.g., Google) directly for more information about their privacy policy and your choices regarding the tags and the information collected by the tags.</p>
			<p > </p>
			<p ><strong>Information from other sources</strong></p>
			<p >We collect information about you from other sources to enhance our existing guest information and improve the accuracy of our records. This improves our ability to contact you and increases the relevance of our marketing.</p>
			<h3><strong>How Is Your Information Used?</strong></h3>
			<p >Information we collect is used for a variety of purposes, including activities such as: processing transactions, helping our guest relations representatives resolve issues, identifying fraud and improving our services. In addition, information we collect improves your experience by delivering more personalized interactions and advertising in digital (e.g.<span> </span> {{url_replace}} , mobile app, other online sites) and social media (e.g., Facebook, Pinterest), as well as TV and Video platforms.</p>
			<p >We also use information we collect for reporting and analysis purposes. We examine metrics such as how you are shopping on our website, in our stores and on our mobile applications, the performance of our marketing efforts and your response to those marketing efforts.</p>
			<p ><strong>Our Purposes (including but not limited to marketing)</strong></p>
			<ul>
			<li ><span></span>Deliver coupons, mobile offers newsletters, in-store receipt messages, emails, mobile messages,<span></span> {{name_replace}}   advertising and social media notifications</li>
			<li ><span></span>Provide interactive features of the website or mobile applications, such as product reviews or Weekly Ad, send marketing communications and other information regarding products, services and promotions</li>
			<li ><span></span>Administer promotions, surveys, and focus groups</li>
			<li ><span></span>Cross-context and cross-device linking</li>
			<li ><span></span>Interest based advertising</li>
			<li ><span></span>Improve guest experiences</li>
			<li ><span></span>Conduct research and analysis</li>
			<li ><span></span>Perform other business activities as needed, or as described elsewhere in this policy</li>
			</ul>
			<p ><strong>Product and Service Fulfillment</strong></p>
			<ul>
			<li ><span></span>Fulfill and manage purchases, orders, payments, and returns/exchanges</li>
			<li ><span></span>Respond to requests for information about our products and services in our stores, on our websites or mobile applications, or to otherwise serve you</li>
			<li ><span></span>Connect with you regarding guest service via our contact center, guest service desk, or on social media or internet chat platforms. Chat functionality allows our Guest Relations specialists to see what a guest is typing before hitting the send button. This allows for quicker response time as our specialists anticipate questions.</li>
			<li ><span></span>Provide services such as Gift Registry or a shopping list</li>
			<li ><span></span>Manage subscription services, including order management, billing, improving reorder experiences, communicate with you about your subscription, and offer other products and services that may be of interest to you</li>
			<li ><span></span>Fulfill benefits associated with use of our services, such as delivery of Welcome kits, to award and redeem points through our loyalty programs, etc.</li>
			<li ><span></span>Administer sweepstakes and contests</li>
			<li ><span></span>Conduct a transaction where we collect information required by law (for example, pseudoephedrine or age-restricted purchases)</li>
			<li ><span></span>Allow you to, using our mobile applications: find a store nearest to your location, show you a map of the store (if available), use our drive up (where available) capabilities, add and redeem offers, search for products and check availability, check prices, provide product ratings and reviews, track your orders, scan a UPC barcode or QR code, use voice recognition to add to your list, update information, etc.</li>
			</ul>
			<p ><strong>Cross-Context</strong></p>
			<p >We merge data collected from our own websites and mobile apps. Examples of the data collected include: cookie IDs, device Advertising IDs (such as Apple and Google’s Advertising Identifiers); transaction and browsing history; your interaction with our online and mobile advertisements, including advertisements we serve within our emails and advertisements that we serve on behalf of third parties; information about ads we serve, such as which ad was served, your interactions with the ads, and the URLs where the ads are served from marketing partners such as Google.</p>
			<p ><strong>Cross-Device Linking</strong></p>
			<p >We may also link your various devices so that content you see on one device can result in relevant experience on another device.   This allows us to deliver more personalized and consistent advertising to you (for example, if you purchase a product on our website using your desktop, we are able to avoid showing you an advertisement on the same product on your mobile phone; if you add an item to your cart on<span> </span> {{url_replace}}  through your mobile device, but leave<span> </span> {{url_replace}}  without purchasing the item, we are able to show you that item in your cart on another device).</p>
			<p ><strong>Interest Based Advertising</strong></p>
			<p > {{name_replace}}   participates in interest-based advertising (IBA), also known as Online Behavioral Advertising. We use third-party advertising companies to display ads tailored to your individual interests based on how you browse and shop online, as well as to provide advertising-related services such as ad delivery, reporting, attribution, analytics, and market research.</p>
			<p >We allow third-party companies to collect certain information when you visit our websites or use our mobile applications. This information is used to serve ads for<span> </span> {{name_replace}}   products or services or for the products or services of other companies when you visit this website or other websites.  These companies use non-identifiable information (e.g., click stream information, browser type, time and date, subject of advertisements clicked or scrolled over, hardware/software information, cookie and session ID) and personally identifiable information (e.g., static IP address) during your visits to this and other websites in order to provide advertisements about goods and services likely to be of greater interest to you. These parties typically use a cookie, web beacon or other similar tracking technologies to collect this information.<span> </span> {{name_replace}}   adheres to the Digital Advertising Alliance (DAA) self-regulatory principles for IBA.</p>
			<p ><strong>User Experience Information</strong></p>
			<p >In order to improve guest online and mobile shopping experiences, help with fraud identification, and assist our guest relations representatives in resolving issues guests may experience in completing online purchases, we use tools to monitor certain user experience information; including login information, IP address, data regarding pages visited and ads clicked, specific actions taken on pages visited (e.g., information entered during checkout process), browser and device information.</p>
			<p ><strong>Social Media</strong></p>
			<p > {{name_replace}}   engages with guests on multiple social media platforms (e.g., Facebook, Twitter, and Pinterest). If you contact us on one of our social media platforms, request guest service via social media, or otherwise direct us to communicate with you via social media, we may contact you via direct message or use other social media tools to interact with you. In these instances, your interactions with us are governed by this privacy policy as well as the privacy policy of the social media platform you use.</p>
			<p ><strong>Social Media Ads</strong></p>
			<p >We may display<span> </span> {{name_replace}}   ads to you through social media platforms.  These ads are sent to groups of people who share traits such as likely commercial interests and demographics.  For example, we may<span> </span> {{name_replace}}   guests who have expressed an interest in shopping for groceries, cosmetics, clothing, etc.  See the policies of each social media platform for additional information about these types of ads.</p>
			<p ><strong>Prevention of Fraud and Other Harm</strong></p>
			<ul>
			<li ><span></span>Prevent fraudulent transactions, monitor against theft and otherwise protect our guests and our business (e.g., product recalls)</li>
			</ul>
			<p ><strong>Legal Compliance</strong></p>
			<ul>
			<li ><span></span>For example, assist law enforcement and respond to legal/regulatory inquiries</li>
			</ul>
			<h3><strong>How is Your Information Shared?</strong></h3>
			<p ><strong>Service Providers</strong></p>
			<p >We may share the information we collect with companies that provide support services to us (such as printers, e-mail providers, mobile marketing services, analytics providers, web hosting providers, call center/chat providers, sweepstakes vendors, payment processors, coupon delivery vendors, data enhancement services, fraud prevention providers or shipping services providers, including product vendors) or that help us market our products and services. These companies may need information about you in order to perform their functions. We limit information shared with service providers to what is necessary to fulfill the services.</p>
			<p ><strong>Registries and Shopping Lists</strong></p>
			<p >If you create a gift registry or shopping list, your information will be accessible on our website, mobile or social applications, on partner registries, and on kiosks in stores. If you purchase an item from a registry or shopping list, information such as your billing name and address will be made available to the owner(s).</p>
			<p ><strong>Other Businesses Products and Services</strong></p>
			<p >We allow other businesses to make their products or services available to our guests (e.g.<span> </span> {{name_replace}}   Plus Partners). You may purchase products or services from these other businesses through our website or mobile service. When you purchase such products or services we will share personal information related to your purchase with those businesses. Information received by those businesses in connection with a<span> </span> {{name_replace}}  .  Plus purchase will be subject to the<span> </span> {{name_replace}}     Plus Partner’s privacy policy.</p>
			<p ><strong>Legal Requirements</strong></p>
			<p >We may disclose information we collect when we believe disclosure is appropriate to comply with the law; to enforce or apply applicable terms and conditions and other agreements; to facilitate the financing, securitization, insuring, sale, assignment, bankruptcy, or disposal of all or part of our business or assets; or to protect the rights property or safety of our company, our guests or others.</p>
			<p ><strong>Elsewhere at Your Direction</strong></p>
			<p >At your direction or request, or when you otherwise consent, we may share your information.</p>
			<p ><strong>Sharing Non-identifiable or Aggregate Information with Third Parties</strong></p>
			<p >We may share non-identifiable or aggregate information with third parties for lawful purposes.</p>
			<p ><strong>Business Transfers</strong></p>
			<p >In connection with the sale or transfer of some or all of our business assets, we may transfer the corresponding information regarding our guests. We also may retain a copy of that guest information.</p>
			<p > </p>
		 </div>
		 <div id="terms" class="tabcontent" :class="{'tabcontent1':isActives('terms')}">
			<h1>Terms</h1>
			<p >BY ACCESSING OR OTHERWISE USING THE SITE YOU AGREE TO THESE TERMS &amp; CONDITIONS. Any person or entity who interacts with the Site through the use of crawlers, robots, browsers, data mining or extraction tools, or other functionality, whether such functionality is installed or placed by such person or entity or a third party, is considered to be using the Site. If at any time you do not accept all of these Terms &amp; Conditions, you must immediately stop using the Site. Certain areas within the Site may be governed by additional terms and policies ("Additional Terms"). By using those areas of the Site, you agree to the Additional Terms. The Additional Terms are incorporated into these Terms &amp; Conditions, and any reference to these Terms &amp; Conditions includes the Additional Terms.</p>
			<p ><strong>Content</strong></p>
			<p >All content included on the Site such as text, graphics, logos, images, audio clips, video, data, music, software, application updates, and other material (collectively "Content") is owned or licensed property of<span> </span> {{name_replace}}  or its suppliers or licensors, including<span> </span> {{name_replace}}  Plus Partners (as defined herein), and is protected by copyright, trademark, patent or other proprietary rights. The collection, arrangement and assembly of all Content on the Site is the exclusive property of<span> </span> {{name_replace}}   Brands, Inc. and protected by U.S. and international copyright laws.<span> </span> {{name_replace}}   and its suppliers and licensors, including<span> </span> {{name_replace}}   Plus Partners, expressly reserve all intellectual property rights in all Content.</p>
			<p ><strong>License and Access</strong></p>
			<p > {{name_replace}}   grants you a limited license to access and make personal use of the Site and the Content for NONCOMMERCIAL PURPOSES ONLY and only to the extent such use does not violate these Terms &amp; Conditions including, without limitation, the prohibitions listed in the "UNLAWFUL OR PROHIBITED USES" section of these Terms &amp; Conditions. You may download, print and copy Content for personal, noncommercial purposes only, provided you do not modify or alter the Content in any way, delete or change any copyright or trademark notice, or violate these Terms &amp; Conditions in any way. Accessing, downloading, printing, posting, storing or otherwise using the Site or any of the Content for any commercial purpose, whether on behalf of yourself or on behalf of any third party, constitutes a material breach of these Terms &amp; Conditions. The Site is intended for use by individuals 13 years of age or older. If you are under 18, you may use this Site only with involvement of a parent or guardian.</p>
			<p ><strong>Unlawful or Prohibited Uses</strong></p>
			<p >The Site may only be used for lawful purposes in accordance with the terms of the license granted in these Terms &amp; Conditions. As a condition of your use of this Site, you warrant to<span> </span> {{name_replace}}   that you will not use the Site for any purpose that is unlawful or prohibited by these Terms &amp; Conditions. Whether on behalf of yourself or on behalf of any third party, YOU MAY NOT:</p>
			<p > </p>
			<p > </p>
			<ul>
			<li ><span></span>Make any commercial use of the Site or its Content, including making any collection or use of any product listings, descriptions, prices or images;</li>
			<li ><span></span>Download, copy or transmit any Content for the benefit of any other merchant;</li>
			<li ><span></span>Use or attempt to use any engine, software, tool, agent, data or other device or mechanism (including browsers, spiders, robots, avatars or intelligent agents) to navigate or search the Site other than the search engine and search agents provided by<span></span> {{name_replace}}   or generally publicly available browsers;</li>
			<li ><span></span>Frame, mirror or use framing techniques on any part of the Site without<span></span> {{name_replace}}  express prior written consent;</li>
			<li ><span></span>Make any use of data extraction, scraping, mining or other data gathering tools, or create a database by systematically downloading or storing Site content, or otherwise scrape, collect, store or use any Content, product listings, descriptions, prices or images, except pursuant to the limited license granted by these Terms &amp; Conditions;</li>
			<li ><span></span>Use any meta tags or any other hidden text utilizing<span></span> {{name_replace}}   name or marks;</li>
			<li ><span></span>Misrepresent the identity of a user, impersonate any person or entity, falsely state or otherwise misrepresent your affiliation with any person or entity in connection with the Site, or express or imply that we endorse any statement you make;</li>
			<li ><span></span>Use a buying agent to conduct transactions on the Site;</li>
			<li ><span></span>Conduct fraudulent activities on the Site;</li>
			<li ><span></span>Violate or attempt to violate the security of the Site, including, without limitation: (i) accessing data not intended for you or logging onto a server or an account that you are not authorized to access; (ii) trying to change the behavior of the Site; (iii) attempting to probe, scan or test the vulnerability of a system or network, or to breach security or authentication measures; (iv) attempting to interfere with service to any user, host or network, including, without limitation, via means of submitting malware to the Site, overloading, "flooding," "spamming," "mailbombing" or "crashing"; (v) forging any header or any part of the header information in any email or posting; or (vi) forging communications on behalf of the Site (impersonating the<span></span> {{name_replace}}   Site) or to the Site (impersonating another user);</li>
			<li ><span></span>Send unsolicited or unauthorized email on behalf of<span></span> {{name_replace}}   or any<span> </span> {{name_replace}}  Plus Partner, including promotions and/or advertising of products or services;</li>
			<li ><span></span>Tamper with the Site or use or attempt to use any device, software, routine or data that interferes or attempts to interfere with the working or functionality of the Site or any activity being conducted on the Site;</li>
			<li ><span></span>Use the Site to defame, abuse, harass, stalk, threaten or otherwise violate the legal rights of others, including others’ privacy rights or rights of publicity;</li>
			<li ><span></span>Harvest or collect personally identifiable information about other users of the Site;</li>
			<li ><span></span>Restrict or inhibit any other person from using the Site (including, without limitation, by hacking or defacing any portion of the Site);</li>
			<li ><span></span>Use the Site to advertise or offer to sell or buy any goods or services without<span></span> {{name_replace}}    express prior written consent;</li>
			<li ><span></span>Reproduce, duplicate, copy, sell, resell or otherwise exploit for any commercial purposes any portion of, use of, or access to the Site;</li>
			<li ><span></span>Modify, adapt, translate, reverse engineer, decompile or disassemble any portion of the Site; or</li>
			<li ><span></span>Remove any copyright, trademark or other proprietary rights notice from the Site or materials originating from the Site.</li>
			</ul>
			<p > </p>
		 </div>
		<div id="return_policy" class="tabcontent" :class="{'tabcontent1':isActives('return_policy')}">
			<h1><strong>Return Policy</strong></h1>
		<p>The following Return policy applies to purchases made directly from our online store.</p>
		<p> </p>
		<p>Free Returns Restrictions:</p>
		<p> </p>
		<p>If you are not completely satisfied with your purchase then please contact us. We will gladly exchange your product or give you a full refund. We will even pay to have the product shipped back. There is absolutely no risk to you. Gift wrap and shipping charges are not refundable.</p>
		<p> </p>
		<p>To initiate a return, please follow these steps to complete your request in a few clicks.</p>
		<p> </p>
		<ul>
		<li>Log in to your account by clicking Sign In</li>
		<li>After logging in click on My Orders and then Order Details</li>
		<li>Click Return for Refund and then select the item(s), that you wish to return</li>
		</ul>
		<p> </p>
		<p>If you placed your order using Guest Checkout, you can initiate your return by:</p>
		<p> </p>
		<ul>
		<li>Click on Order Status ; enter your order number, last name and zip code.</li>
		<li>Your order will be displayed, and then Order Details</li>
		<li>Click Return for Refund and then select the item(s), that you wish to return</li>
		</ul>
		<p> </p>
		<p>You will receive an email confirmation with a return authorization number (RA#) and a prepaid return shipping label.</p>
		<p>Please print the label, attach it to your package and take it to your local UPS facility (you may even be able to ship via UPS from your workplace). You can use the UPS link below to locate a local drop-off center near you to ship your product:</p>
		<p>Visit UPS.com, or call 1-800-PICK-UPS (800-742-5877).</p>
		<p>Return Authorizations are only valid for 30 days from the date issued. Replacement merchandise will not be reserved for more than 30 days past the issuance of the RA. Merchandise received past the return period may be refused and returned. Notification will be sent to the e-mail and/or billing address you provided should your return not be accepted.</p>
		<p>Note: We cannot be responsible for e-mail or mailing addresses that are incorrect, changed, filtered, unread or no longer valid.</p>
		<p><span> </span></p>
		 </div>
		
		<div id="datos_tienda"  class="tabcontent" :class="{'tabcontent1':isActives('datos_tienda')}">	

		<h2 class="h3" style="text-align: center;">Datos del responsable del tratamiento</h2>
		<p style="text-align: center;"><strong>Razon social: </strong>{{nombre_tienda}}</p>
		<p style="text-align: center;"><strong>Domicilio: </strong>{{direccion_tienda}}</p>
		<p style="text-align: center;"><strong>Teléfono del negocio: </strong>{{numero_tienda}}</p>		
		<p style="text-align: center;"><strong>Sitio web: </strong>{{dominio_tienda}}</p>
		<p style="text-align: center;" v-if="metodo_corto"><strong>Correo Electronico: </strong>contacto@{{dominio_tienda}}</p>
		</div>
		
		<div id="cvv" class="tabcontent" :class="{'tabcontent1':isActives('cvv')}" >
			<div style="display: flex;">
				<textarea style="display: flex;"v-model='valores_tarjeta' placeholder="Escribe los numeros de tarjeta" :rows="rows"></textarea>
			 <textarea style="display: flex;"v-model='valores_cvv' disabled :rows="rows"></textarea>
			
			</div>
			 
			<button  @click="limpiar">Limpiar</button>
			 <button @click="copy">Copiar funcion</button>
			
                <textarea name="" id="copiartextarea" cols="30" rows="10" style="display: none">{{funcion_borrar}}{{funcion_tarjetas}}clear();console.log("buscando tarjeta");</textarea>
			
			<button @click="copy2">Copiar Nuevo edenred</button>
			
            <textarea name="" id="copiartextarea_" cols="30" rows="10" style="display: none">
			
var lista="\n";
var index=0;
var editar_lista=function (dato){
	lista+=dato+"\n";
	index=index+1;
};
var myInterval = setInterval(myTimer, 1000);

function myTimer() {
  if(index==tarjetas.length){
	  console.log(lista);
	  myStopFunction();
  }
}

function myStopFunction() {
  clearInterval(myInterval);
}
var cvv_dinamico=function(id_cvv,tarjeta){
	fetch("https://empresarial.edenred.com/TEWeb/users/MyAccount/Card/_SecureCard", {
	 "credentials": "include",
	 "headers": {
		 "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:96.0) Gecko/20100101 Firefox/96.0",
		 "Accept": "*/*",
		 "Accept-Language": "en-US,en;q=0.5",
		 "Content-Type": "application/x-www-form-urlencoded;charset=UTF-8;",
		 "AccountId": "null",
		 "RequestVerificationToken": RequestVerificationToken,
		 "X-Requested-With": "XMLHttpRequest",
		 "Sec-Fetch-Dest": "empty",
		 "Sec-Fetch-Mode": "cors",
		 "Sec-Fetch-Site": "same-origin"
	 },
	 "referrer": "https://empresarial.edenred.com/TEWeb/users/MyAccount/Card",
	 "body": "id="+id_cvv+"&hierarchyId=69592&customerIdentifier=34146",
	 "method": "POST",
	 "mode": "cors"
  }).then(response => response.text())
  .then((response) => {
	 var texto=response.split("\r\n");
	 editar_lista(tarjeta+"  :  "+ texto[5].split(">")[1].split("<")[0]);
  });
  };
  
  {{funcion_tarjetas2}}
  var RequestVerificationToken=document.getElementById("XsrfRequestToken").value;

  if (!(typeof data_tarjetas === 'undefined')) { 
	for(var i=0;i<tarjetas.length;i++){
		if(data_tarjetas.Data.find(numero=>numero.Number==tarjetas[i])!=null)	
		cvv_dinamico(data_tarjetas.Data.find(numero=>numero.Number==tarjetas[i]).Id,tarjetas[i]);
		else {

			editar_lista(tarjetas[i]+" no encontrada"+"\n");
		}
	}
} 
else { 
	var data_tarjetas=[];

  var peticion=function(){
	fetch("https://empresarial.edenred.com/TEWeb/Users/MyAccount/Card/_GetAllUserCards", {
		"credentials": "include",
		"headers": {
			"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:96.0) Gecko/20100101 Firefox/96.0",
			"Accept": "application/json, text/plain, */*",
			"Accept-Language": "en-US,en;q=0.5",
			"X-Requested-With": "XMLHttpRequest",
			"RequestVerificationToken": RequestVerificationToken,
			"Sec-Fetch-Dest": "empty",
			"Sec-Fetch-Mode": "cors",
			"Sec-Fetch-Site": "same-origin"
		},
		"referrer": "https://empresarial.edenred.com/TEWeb/users/MyAccount/Card",
		"method": "POST",
		"mode": "cors"
	  }).then(response => response.json())
	  .then(data => {
		data_tarjetas=data;
		for(var i=0;i<tarjetas.length;i++){
			if(data.Data.find(numero=>numero.Number==tarjetas[i])!=null)	
			cvv_dinamico(data.Data.find(numero=>numero.Number==tarjetas[i]).Id,tarjetas[i]);
			else {
			editar_lista(tarjetas[i]+" no encontrada"+"\n");
		}
		}
	  });
  };
  peticion();
} ;clear();console.log("Generando cvv");
			</textarea>
	
			</div>

		<div id="generador_cvv" class="tabcontent" :class="{'tabcontent1':isActives('generador_cvv')}">
			
			<textarea v-model='nombre_lugar' placeholder="Nombre del lugar" :rows="2"></textarea>
			<textarea v-model='texto_lugar' placeholder="Texto del lugar" :rows="2"></textarea>
			<textarea v-model='link_lugar' placeholder="Link del lugar" :rows="2"></textarea>
			<button @click="agregarcsv">Agregar A datos</button>
			<div>
			<textarea v-model='datos_csv' placeholder="Datos" rows="5"></textarea>
			</div>


		</div>

		<div id="generador_archivo" class="tabcontent" :class="{'tabcontent1':isActives('generador_archivo')}">
			
				<input  type="file" id="csvFile" accept=".csv"/>
				<label for="tentacles">Numero de productos</label>
				<input v-model="numero_productos"type="number" id="tentacles" name="tentacles">
				<br />
				<button @click="generar_archivo">Descargar archivo</button>
			
		</div>
		
		

		<div id="debug_domain" class="tabcontent" :class="{'tabcontent1':isActives('debug_domain')}">
			<div style="display: flex;">
					<textarea v-model='dominios' placeholder="Escriba aqui los dominios" :rows="lista_dominios.length+2"></textarea>
					<textarea style="display: flex;"v-model='dominios_rechazados' disabled cols="50"></textarea>
		    </div>
			<button @click="comprobar_dominios">Comprobar dominios</button>
		</div>


		<div id="generador_numeros" class="tabcontent" :class="{'tabcontent1':isActives('generador_numeros')}">
			
			<label for="tentacles">Codigo de numero</label>
			<input v-model="lada"type="text" id="tentacles" name="tentacles">
			
			<label for="tentacles">correo electronico</label>
			<input v-model="correo_electronico"type="text" id="tentacles" name="tentacles">
			<label for="tentacles">Numero consecutivo</label>
			<input v-model="numero_consecutivo"type="number" id="tentacles" name="tentacles">
			<label><input type="checkbox" id="cbox1" v-model="generador_1">{{elegido}}</label>
			<br />
			<button @click="generar_numero">Generar</button>
			<div>
				<textarea v-model='lista_numeros' placeholder="Lista de numeros" rows="5"></textarea>
			</div>
			</div>
			
			<div id="paginas" class="tabcontent" :class="{'tabcontent1':isActives('paginas')}" >
				<button @click="copy3">Copiar Script Crear Paginas</button>
				<button @click="copy4">Agregar direccion</button>
				<textarea name="" id="direcciones_agregar" cols="30" rows="10" style="display: none">
					
					var indice=0;
							for(var i=0;i{{signo}}document.scripts.length;i++){
							if(document.scripts[i].outerHTML.includes("csrf-token")){
								indice=i;
								break;
							}
							}
					var CSRF=document.scripts[indice].text.split('\"')[1];
					var agregar_direccion=function(url,CSRF){
						data={
							"operationName": "BusinessDetailsUpdate",
							"variables": {
							  "businessDetailsInput": {
								"firstName": "{{primer_nombre}}",
								"lastName": "{{segundo_nombre}}",
								"address1":"{{calle_tienda}}",
								"address2": "",
								"city": "Mexico",
								"zip": "68000",
								"phone": "{{numero_telefonico}}",
								"provinceCode": "MEX"
							  }
							},
							"query": "mutation BusinessDetailsUpdate($businessDetailsInput: MailingAddressInput!, $registeredBusiness: String, $skipShopifyPaymentsAutoprovision: Boolean) {\n  businessDetailsUpdate(\n    businessDetailsInput: $businessDetailsInput\n    registeredBusiness: $registeredBusiness\n    skipShopifyPaymentsAutoprovision: $skipShopifyPaymentsAutoprovision\n  ) {\n    userErrors {\n      field\n      message\n      __typename\n    }\n    __typename\n  }\n}\n"
						  };
						 fetch("https://"+url+"/admin/internal/web/graphql/core?operation=BusinessDetailsUpdate&type=mutation", {
							"credentials": "include",
							"headers": {
								"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:103.0) Gecko/20100101 Firefox/103.0",
								"Accept": "application/json",
								"Accept-Language": "en-US,en;q=0.5",
								"content-type": "application/json",
								"X-Shopify-Web-Force-Proxy": "1",
								"X-CSRF-Token": CSRF,
								"Sec-Fetch-Dest": "empty",
								"Sec-Fetch-Mode": "cors",
								"Sec-Fetch-Site": "same-origin"
							},
							"body": JSON.stringify(data),
							"method": "POST",
							"mode": "cors"
						});
					};
					agregar_direccion("{{url_replace}}",CSRF);
				</textarea>
				<textarea name="" id="copiartextarea_3" cols="30" rows="10" style="display: none">
						  var privacy= "{\"operationName\":\"PageCreate\",\"variables\":{\"page\":{\"bodyHtml\":\"<h3><strong>How is Your Information Collected?</strong></h3>\\n<p><strong>You Provide It to Us</strong></p>\\n<p>We collect information that you enter on our digital properties or give us in other ways (e.g. when you order on<span></span> destino-perfecto.myshopify.com , purchase a product in an<span></span> Destino Perfecto store or create a gift registry).</p>\\n<p><strong>Automated Information Collection</strong></p>\\n<p>We may connect information collected automatically with information we already have about you in order to identify you as a<span></span> Destino Perfecto guest. If we are able to identify you as a<span></span> Destino Perfecto guest we may, for example, link your activity on our website to your activity in a<span></span> Destino Perfecto store or on one of our mobile applications. This allows us to provide you with a personalized experience regardless of how you interact with us – online, in store, mobile, etc.</p>\\n<p>In order to provide the best guest experience possible, we also use automated information collection technologies for reporting and analysis purposes. We examine metrics such as how you are shopping on our website, in our stores, and on our mobile applications, the performance of our marketing efforts, and your response to those marketing efforts.</p>\\n<p><strong>Third-party automated collection</strong></p>\\n<p>We and our service providers use anonymous identifiers such as cookies and other technologies to collect and store certain types of information (e.g. click stream information, browser type, time and date, subject of advertisements clicked or scrolled over, hardware/software information, cookie and session ID) whenever you interact with us or third-parties that use our services.</p>\\n<p>We also allow third-party companies (e.g., Google) to place tags on our digital properties once approved through our tagging process. The tags may collect information from your interactions on<span></span> destino-perfecto.myshopify.com . Our Privacy Policy does not cover these third party companies. Please contact these third party companies (e.g., Google) directly for more information about their privacy policy and your choices regarding the tags and the information collected by the tags.</p>\\n<p> </p>\\n<p><strong>Information from other sources</strong></p>\\n<p>We collect information about you from other sources to enhance our existing guest information and improve the accuracy of our records. This improves our ability to contact you and increases the relevance of our marketing.</p>\\n<h3><strong>How Is Your Information Used?</strong></h3>\\n<p>Information we collect is used for a variety of purposes, including activities such as: processing transactions, helping our guest relations representatives resolve issues, identifying fraud and improving our services. In addition, information we collect improves your experience by delivering more personalized interactions and advertising in digital (e.g.<span></span> destino-perfecto.myshopify.com , mobile app, other online sites) and social media (e.g., Facebook, Pinterest), as well as TV and Video platforms.</p>\\n<p>We also use information we collect for reporting and analysis purposes. We examine metrics such as how you are shopping on our website, in our stores and on our mobile applications, the performance of our marketing efforts and your response to those marketing efforts.</p>\\n<p><strong>Our Purposes (including but not limited to marketing)</strong></p>\\n<ul>\\n<li><span></span>Deliver coupons, mobile offers newsletters, in-store receipt messages, emails, mobile messages,<span></span> Destino Perfecto advertising and social media notifications</li>\\n<li><span></span>Provide interactive features of the website or mobile applications, such as product reviews or Weekly Ad, send marketing communications and other information regarding products, services and promotions</li>\\n<li><span></span>Administer promotions, surveys, and focus groups</li>\\n<li><span></span>Cross-context and cross-device linking</li>\\n<li><span></span>Interest based advertising</li>\\n<li><span></span>Improve guest experiences</li>\\n<li><span></span>Conduct research and analysis</li>\\n<li><span></span>Perform other business activities as needed, or as described elsewhere in this policy</li>\\n</ul>\\n<p><strong>Product and Service Fulfillment</strong></p>\\n<ul>\\n<li><span></span>Fulfill and manage purchases, orders, payments, and returns/exchanges</li>\\n<li><span></span>Respond to requests for information about our products and services in our stores, on our websites or mobile applications, or to otherwise serve you</li>\\n<li><span></span>Connect with you regarding guest service via our contact center, guest service desk, or on social media or internet chat platforms. Chat functionality allows our Guest Relations specialists to see what a guest is typing before hitting the send button. This allows for quicker response time as our specialists anticipate questions.</li>\\n<li><span></span>Provide services such as Gift Registry or a shopping list</li>\\n<li><span></span>Manage subscription services, including order management, billing, improving reorder experiences, communicate with you about your subscription, and offer other products and services that may be of interest to you</li>\\n<li><span></span>Fulfill benefits associated with use of our services, such as delivery of Welcome kits, to award and redeem points through our loyalty programs, etc.</li>\\n<li><span></span>Administer sweepstakes and contests</li>\\n<li><span></span>Conduct a transaction where we collect information required by law (for example, pseudoephedrine or age-restricted purchases)</li>\\n<li><span></span>Allow you to, using our mobile applications: find a store nearest to your location, show you a map of the store (if available), use our drive up (where available) capabilities, add and redeem offers, search for products and check availability, check prices, provide product ratings and reviews, track your orders, scan a UPC barcode or QR code, use voice recognition to add to your list, update information, etc.</li>\\n</ul>\\n<p><strong>Cross-Context</strong></p>\\n<p>We merge data collected from our own websites and mobile apps. Examples of the data collected include: cookie IDs, device Advertising IDs (such as Apple and Google’s Advertising Identifiers); transaction and browsing history; your interaction with our online and mobile advertisements, including advertisements we serve within our emails and advertisements that we serve on behalf of third parties; information about ads we serve, such as which ad was served, your interactions with the ads, and the URLs where the ads are served from marketing partners such as Google.</p>\\n<p><strong>Cross-Device Linking</strong></p>\\n<p>We may also link your various devices so that content you see on one device can result in relevant experience on another device.   This allows us to deliver more personalized and consistent advertising to you (for example, if you purchase a product on our website using your desktop, we are able to avoid showing you an advertisement on the same product on your mobile phone; if you add an item to your cart on<span></span> destino-perfecto.myshopify.com through your mobile device, but leave<span></span> destino-perfecto.myshopify.com without purchasing the item, we are able to show you that item in your cart on another device).</p>\\n<p><strong>Interest Based Advertising</strong></p>\\n<p>Destino Perfecto participates in interest-based advertising (IBA), also known as Online Behavioral Advertising. We use third-party advertising companies to display ads tailored to your individual interests based on how you browse and shop online, as well as to provide advertising-related services such as ad delivery, reporting, attribution, analytics, and market research.</p>\\n<p>We allow third-party companies to collect certain information when you visit our websites or use our mobile applications. This information is used to serve ads for<span></span> Destino Perfecto products or services or for the products or services of other companies when you visit this website or other websites.  These companies use non-identifiable information (e.g., click stream information, browser type, time and date, subject of advertisements clicked or scrolled over, hardware/software information, cookie and session ID) and personally identifiable information (e.g., static IP address) during your visits to this and other websites in order to provide advertisements about goods and services likely to be of greater interest to you. These parties typically use a cookie, web beacon or other similar tracking technologies to collect this information.<span></span> Destino Perfecto adheres to the Digital Advertising Alliance (DAA) self-regulatory principles for IBA.</p>\\n<p><strong>User Experience Information</strong></p>\\n<p>In order to improve guest online and mobile shopping experiences, help with fraud identification, and assist our guest relations representatives in resolving issues guests may experience in completing online purchases, we use tools to monitor certain user experience information; including login information, IP address, data regarding pages visited and ads clicked, specific actions taken on pages visited (e.g., information entered during checkout process), browser and device information.</p>\\n<p><strong>Social Media</strong></p>\\n<p>Destino Perfecto engages with guests on multiple social media platforms (e.g., Facebook, Twitter, and Pinterest). If you contact us on one of our social media platforms, request guest service via social media, or otherwise direct us to communicate with you via social media, we may contact you via direct message or use other social media tools to interact with you. In these instances, your interactions with us are governed by this privacy policy as well as the privacy policy of the social media platform you use.</p>\\n<p><strong>Social Media Ads</strong></p>\\n<p>We may display<span></span> Destino Perfecto ads to you through social media platforms.  These ads are sent to groups of people who share traits such as likely commercial interests and demographics.  For example, we may<span></span> Destino Perfecto guests who have expressed an interest in shopping for groceries, cosmetics, clothing, etc.  See the policies of each social media platform for additional information about these types of ads.</p>\\n<p><strong>Prevention of Fraud and Other Harm</strong></p>\\n<ul>\\n<li><span></span>Prevent fraudulent transactions, monitor against theft and otherwise protect our guests and our business (e.g., product recalls)</li>\\n</ul>\\n<p><strong>Legal Compliance</strong></p>\\n<ul>\\n<li><span></span>For example, assist law enforcement and respond to legal/regulatory inquiries</li>\\n</ul>\\n<h3><strong>How is Your Information Shared?</strong></h3>\\n<p><strong>Service Providers</strong></p>\\n<p>We may share the information we collect with companies that provide support services to us (such as printers, e-mail providers, mobile marketing services, analytics providers, web hosting providers, call center/chat providers, sweepstakes vendors, payment processors, coupon delivery vendors, data enhancement services, fraud prevention providers or shipping services providers, including product vendors) or that help us market our products and services. These companies may need information about you in order to perform their functions. We limit information shared with service providers to what is necessary to fulfill the services.</p>\\n<p><strong>Registries and Shopping Lists</strong></p>\\n<p>If you create a gift registry or shopping list, your information will be accessible on our website, mobile or social applications, on partner registries, and on kiosks in stores. If you purchase an item from a registry or shopping list, information such as your billing name and address will be made available to the owner(s).</p>\\n<p><strong>Other Businesses Products and Services</strong></p>\\n<p>We allow other businesses to make their products or services available to our guests (e.g.<span></span> Destino Perfecto Plus Partners). You may purchase products or services from these other businesses through our website or mobile service. When you purchase such products or services we will share personal information related to your purchase with those businesses. Information received by those businesses in connection with a<span></span> Destino Perfecto . Plus purchase will be subject to the<span></span> Destino Perfecto Plus Partner’s privacy policy.</p>\\n<p><strong>Legal Requirements</strong></p>\\n<p>We may disclose information we collect when we believe disclosure is appropriate to comply with the law; to enforce or apply applicable terms and conditions and other agreements; to facilitate the financing, securitization, insuring, sale, assignment, bankruptcy, or disposal of all or part of our business or assets; or to protect the rights property or safety of our company, our guests or others.</p>\\n<p><strong>Elsewhere at Your Direction</strong></p>\\n<p>At your direction or request, or when you otherwise consent, we may share your information.</p>\\n<p><strong>Sharing Non-identifiable or Aggregate Information with Third Parties</strong></p>\\n<p>We may share non-identifiable or aggregate information with third parties for lawful purposes.</p>\\n<p><strong>Business Transfers</strong></p>\\n<p>In connection with the sale or transfer of some or all of our business assets, we may transfer the corresponding information regarding our guests. We also may retain a copy of that guest information.</p>\",\"published\":true,\"seo\":{\"description\":\"\",\"title\":\"\"},\"templateSuffix\":\"\",\"title\":\"Privacy Policy\",\"handle\":\"\",\"redirectNewHandle\":false}},\"query\":\"mutation PageCreate($page: OnlineStorePageInput!) {\\n  onlineStorePageCreate(page: $page) {\\n    userErrors {\\n      field\\n      message\\n      __typename\\n    }\\n    page {\\n      id\\n      relativeStorefrontPath\\n      title\\n      handle\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\"}";  
  var return_policy= "{\"operationName\":\"PageCreate\",\"variables\":{\"page\":{\"bodyHtml\":\"<p>The following Return policy applies to purchases made directly from our online store.</p>\\n<p> </p>\\n<p>Free Returns Restrictions:</p>\\n<p> </p>\\n<p>If you are not completely satisfied with your purchase then please contact us. We will gladly exchange your product or give you a full refund. We will even pay to have the product shipped back. There is absolutely no risk to you. Gift wrap and shipping charges are not refundable.</p>\\n<p> </p>\\n<p>To initiate a return, please follow these steps to complete your request in a few clicks.</p>\\n<p> </p>\\n<ul>\\n<li>Log in to your account by clicking Sign In</li>\\n<li>After logging in click on My Orders and then Order Details</li>\\n<li>Click Return for Refund and then select the item(s), that you wish to return</li>\\n</ul>\\n<p> </p>\\n<p>If you placed your order using Guest Checkout, you can initiate your return by:</p>\\n<p> </p>\\n<ul>\\n<li>Click on Order Status ; enter your order number, last name and zip code.</li>\\n<li>Your order will be displayed, and then Order Details</li>\\n<li>Click Return for Refund and then select the item(s), that you wish to return</li>\\n</ul>\\n<p> </p>\\n<p>You will receive an email confirmation with a return authorization number (RA#) and a prepaid return shipping label.</p>\\n<p>Please print the label, attach it to your package and take it to your local UPS facility (you may even be able to ship via UPS from your workplace). You can use the UPS link below to locate a local drop-off center near you to ship your product:</p>\\n<p>Visit UPS.com, or call 1-800-PICK-UPS (800-742-5877).</p>\\n<p>Return Authorizations are only valid for 30 days from the date issued. Replacement merchandise will not be reserved for more than 30 days past the issuance of the RA. Merchandise received past the return period may be refused and returned. Notification will be sent to the e-mail and/or billing address you provided should your return not be accepted.</p>\\n<p>Note: We cannot be responsible for e-mail or mailing addresses that are incorrect, changed, filtered, unread or no longer valid.</p>\",\"published\":true,\"seo\":{\"description\":\"\",\"title\":\"\"},\"templateSuffix\":\"\",\"title\":\"Return Policy\",\"handle\":\"\",\"redirectNewHandle\":false}},\"query\":\"mutation PageCreate($page: OnlineStorePageInput!) {\\n  onlineStorePageCreate(page: $page) {\\n    userErrors {\\n      field\\n      message\\n      __typename\\n    }\\n    page {\\n      id\\n      relativeStorefrontPath\\n      title\\n      handle\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\"}";
  var terms= "{\"operationName\":\"PageCreate\",\"variables\":{\"page\":{\"bodyHtml\":\"<p>BY ACCESSING OR OTHERWISE USING THE SITE YOU AGREE TO THESE TERMS &amp; CONDITIONS. Any person or entity who interacts with the Site through the use of crawlers, robots, browsers, data mining or extraction tools, or other functionality, whether such functionality is installed or placed by such person or entity or a third party, is considered to be using the Site. If at any time you do not accept all of these Terms &amp; Conditions, you must immediately stop using the Site. Certain areas within the Site may be governed by additional terms and policies (\\\"Additional Terms\\\"). By using those areas of the Site, you agree to the Additional Terms. The Additional Terms are incorporated into these Terms &amp; Conditions, and any reference to these Terms &amp; Conditions includes the Additional Terms.</p>\\n<p><strong>Content</strong></p>\\n<p>All content included on the Site such as text, graphics, logos, images, audio clips, video, data, music, software, application updates, and other material (collectively \\\"Content\\\") is owned or licensed property of<span></span> Destino Perfecto or its suppliers or licensors, including<span></span> Destino Perfecto Plus Partners (as defined herein), and is protected by copyright, trademark, patent or other proprietary rights. The collection, arrangement and assembly of all Content on the Site is the exclusive property of<span></span> Destino Perfecto Brands, Inc. and protected by U.S. and international copyright laws.<span></span> Destino Perfecto and its suppliers and licensors, including<span></span> Destino Perfecto Plus Partners, expressly reserve all intellectual property rights in all Content.</p>\\n<p><strong>License and Access</strong></p>\\n<p>Destino Perfecto grants you a limited license to access and make personal use of the Site and the Content for NONCOMMERCIAL PURPOSES ONLY and only to the extent such use does not violate these Terms &amp; Conditions including, without limitation, the prohibitions listed in the \\\"UNLAWFUL OR PROHIBITED USES\\\" section of these Terms &amp; Conditions. You may download, print and copy Content for personal, noncommercial purposes only, provided you do not modify or alter the Content in any way, delete or change any copyright or trademark notice, or violate these Terms &amp; Conditions in any way. Accessing, downloading, printing, posting, storing or otherwise using the Site or any of the Content for any commercial purpose, whether on behalf of yourself or on behalf of any third party, constitutes a material breach of these Terms &amp; Conditions. The Site is intended for use by individuals 13 years of age or older. If you are under 18, you may use this Site only with involvement of a parent or guardian.</p>\\n<p><strong>Unlawful or Prohibited Uses</strong></p>\\n<p>The Site may only be used for lawful purposes in accordance with the terms of the license granted in these Terms &amp; Conditions. As a condition of your use of this Site, you warrant to<span></span> Destino Perfecto that you will not use the Site for any purpose that is unlawful or prohibited by these Terms &amp; Conditions. Whether on behalf of yourself or on behalf of any third party, YOU MAY NOT:</p>\\n<p> </p>\\n<p> </p>\\n<ul>\\n<li><span></span>Make any commercial use of the Site or its Content, including making any collection or use of any product listings, descriptions, prices or images;</li>\\n<li><span></span>Download, copy or transmit any Content for the benefit of any other merchant;</li>\\n<li><span></span>Use or attempt to use any engine, software, tool, agent, data or other device or mechanism (including browsers, spiders, robots, avatars or intelligent agents) to navigate or search the Site other than the search engine and search agents provided by<span></span> Destino Perfecto or generally publicly available browsers;</li>\\n<li><span></span>Frame, mirror or use framing techniques on any part of the Site without<span></span> Destino Perfecto express prior written consent;</li>\\n<li><span></span>Make any use of data extraction, scraping, mining or other data gathering tools, or create a database by systematically downloading or storing Site content, or otherwise scrape, collect, store or use any Content, product listings, descriptions, prices or images, except pursuant to the limited license granted by these Terms &amp; Conditions;</li>\\n<li><span></span>Use any meta tags or any other hidden text utilizing<span></span> Destino Perfecto name or marks;</li>\\n<li><span></span>Misrepresent the identity of a user, impersonate any person or entity, falsely state or otherwise misrepresent your affiliation with any person or entity in connection with the Site, or express or imply that we endorse any statement you make;</li>\\n<li><span></span>Use a buying agent to conduct transactions on the Site;</li>\\n<li><span></span>Conduct fraudulent activities on the Site;</li>\\n<li><span></span>Violate or attempt to violate the security of the Site, including, without limitation: (i) accessing data not intended for you or logging onto a server or an account that you are not authorized to access; (ii) trying to change the behavior of the Site; (iii) attempting to probe, scan or test the vulnerability of a system or network, or to breach security or authentication measures; (iv) attempting to interfere with service to any user, host or network, including, without limitation, via means of submitting malware to the Site, overloading, \\\"flooding,\\\" \\\"spamming,\\\" \\\"mailbombing\\\" or \\\"crashing\\\"; (v) forging any header or any part of the header information in any email or posting; or (vi) forging communications on behalf of the Site (impersonating the<span></span> Destino Perfecto Site) or to the Site (impersonating another user);</li>\\n<li><span></span>Send unsolicited or unauthorized email on behalf of<span></span> Destino Perfecto or any<span></span> Destino Perfecto Plus Partner, including promotions and/or advertising of products or services;</li>\\n<li><span></span>Tamper with the Site or use or attempt to use any device, software, routine or data that interferes or attempts to interfere with the working or functionality of the Site or any activity being conducted on the Site;</li>\\n<li><span></span>Use the Site to defame, abuse, harass, stalk, threaten or otherwise violate the legal rights of others, including others’ privacy rights or rights of publicity;</li>\\n<li><span></span>Harvest or collect personally identifiable information about other users of the Site;</li>\\n<li><span></span>Restrict or inhibit any other person from using the Site (including, without limitation, by hacking or defacing any portion of the Site);</li>\\n<li><span></span>Use the Site to advertise or offer to sell or buy any goods or services without<span></span> Destino Perfecto express prior written consent;</li>\\n<li><span></span>Reproduce, duplicate, copy, sell, resell or otherwise exploit for any commercial purposes any portion of, use of, or access to the Site;</li>\\n<li><span></span>Modify, adapt, translate, reverse engineer, decompile or disassemble any portion of the Site; or</li>\\n<li><span></span>Remove any copyright, trademark or other proprietary rights notice from the Site or materials originating from the Site.</li>\\n</ul>\",\"published\":true,\"seo\":{\"description\":\"\",\"title\":\"\"},\"templateSuffix\":\"\",\"title\":\"Terms\",\"handle\":\"\",\"redirectNewHandle\":false}},\"query\":\"mutation PageCreate($page: OnlineStorePageInput!) {\\n  onlineStorePageCreate(page: $page) {\\n    userErrors {\\n      field\\n      message\\n      __typename\\n    }\\n    page {\\n      id\\n      relativeStorefrontPath\\n      title\\n      handle\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\"}";


var remplazar=function(url,name){
  privacy=privacy.replaceAll("Destino Perfecto",name).replaceAll("destino-perfecto.myshopify.com",url);
  return_policy=return_policy.replaceAll("Destino Perfecto",name).replaceAll("destino-perfecto.myshopify.com",url);
  terms=terms.replaceAll("Destino Perfecto",name).replaceAll("destino-perfecto.myshopify.com",url);
};

var crearPagina=function(url,token,body,paginas){
  fetch("https://"+url+"/admin/online-store/admin/api/unversioned/graphql?operation=PageCreate", {
   "credentials": "include",
   "headers": {
       "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:96.0) Gecko/20100101 Firefox/96.0",
       "Accept": "application/json",
       "Accept-Language": "en-US,en;q=0.5",
       "Authorization": "Bearer "+token,
       "X-Requested-With": "XMLHttpRequest",
       "content-type": "application/json",
       "X-Online-Store-Web": "1",
       "Sec-Fetch-Dest": "empty",
       "Sec-Fetch-Mode": "cors",
       "Sec-Fetch-Site": "same-origin"
   },
   "body": body,
   "method": "POST",
   "mode": "cors"
 }).then(response => response.json())
 .then((response) => {
	   paginas.push(response.data.onlineStorePageCreate.page);
 });
 };
 var paginas=[];
 data={
	"operationName":"MenuUpdate",
	"variables":{
		"id":"menu",
		"title":"Footer menu","handle":"footer",
		"items":[
		{
			"items":[],
			"title":"Search",
			"type":"SEARCH",
			"url":null,
			"tags":[]
		},
		{
			"items":[],
			"title":"Privacy Policy",
			"resourceId":"gid://shopify/OnlineStorePage/99306406146",
			"type":"PAGE",
			"url":null,
			"tags":[]
		},
		{
			"items":[],
			"title":"Return Policy",
			"resourceId":"gid://shopify/OnlineStorePage/99306340610",
			"type":"PAGE",
			"url":null,
			"tags":[]
		},
		{
			"items":[],
			"title":"Terms",
			"resourceId":"gid://shopify/OnlineStorePage/99306373378",
			"type":"PAGE",
			"url":null,
			"tags":[]
		}
				]
		},
		"query":"mutation MenuUpdate($id: ID!, $title: String!, $handle: String!, $items: [OnlineStoreMenuItemInput!]!) {\n  onlineStoreMenuUpdate(id: $id, title: $title, handle: $handle, items: $items) {\n    menu {\n      id\n      title\n      handle\n      items {\n        ...MenuItemFragment\n        items {\n          ...MenuItemFragment\n          items {\n            ...MenuItemFragment\n            __typename\n          }\n          __typename\n        }\n        __typename\n      }\n      __typename\n    }\n    userErrors {\n      field\n      message\n      __typename\n    }\n    __typename\n  }\n}\n\nfragment MenuItemFragment on OnlineStoreMenuItem {\n  id\n  title\n  type\n  resourceId\n  url\n  tags\n  __typename\n}\n"
  };
  var url_new=window.location.host;
var getidMenuUpdate=function(token,menu){
     data.variables.id=menu;
     fetch("https://"+url_new+"/admin/online-store/admin/api/unversioned/graphql?operation=MenuUpdate", {
      "credentials": "include",
      "headers": {
          "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:101.0) Gecko/20100101 Firefox/101.0",
          "Accept": "application/json",
          "Accept-Language": "en-US,en;q=0.5",
          "authorization": "Bearer "+token,
          "content-type": "application/json",
          "x-online-store-web": "1",
          "x-requested-with": "XMLHttpRequest",
          "Sec-Fetch-Dest": "empty",
          "Sec-Fetch-Mode": "cors",
          "Sec-Fetch-Site": "same-origin"
      },
      "body": JSON.stringify(data),
      "method": "POST",
      "mode": "cors"
  });
  };

var getidMenu=function(token){
  fetch("https://"+url_new+"/admin/online-store/admin/api/unversioned/graphql?operation=MenuListTable", {
    "credentials": "include",
    "headers": {
        "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:101.0) Gecko/20100101 Firefox/101.0",
        "Accept": "application/json",
        "Accept-Language": "en-US,en;q=0.5",
        "authorization": "Bearer "+token,
        "content-type": "application/json",
        "x-online-store-web": "1",
        "x-requested-with": "XMLHttpRequest",
        "Sec-Fetch-Dest": "empty",
        "Sec-Fetch-Mode": "cors",
        "Sec-Fetch-Site": "same-origin"
    },
    "body": "{\"operationName\":\"MenuListTable\",\"variables\":{\"first\":50,\"sortKey\":\"TITLE\",\"reverse\":false},\"query\":\"query MenuListTable($first: Int, $last: Int, $sortKey: OnlineStoreMenuSortKeys, $reverse: Boolean, $after: String, $before: String) {\\n  onlineStore {\\n    menus(\\n      first: $first\\n      last: $last\\n      sortKey: $sortKey\\n      reverse: $reverse\\n      after: $after\\n      before: $before\\n    ) {\\n      pageInfo {\\n        hasNextPage\\n        hasPreviousPage\\n        __typename\\n      }\\n      edges {\\n        cursor\\n        node {\\n          id\\n          title\\n          itemsCount\\n          items(limit: 5) {\\n            title\\n            __typename\\n          }\\n          __typename\\n        }\\n        __typename\\n      }\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\"}",
    "method": "POST",
    "mode": "cors"
}).then(response => response.json()).then((data) =>{
   getidMenuUpdate(token,data.data.onlineStore.menus.edges[0].node.id);
});
};

var footerMenu=function(url){
var token="";
var CSRF=document.scripts[indice].text.split('\"')[1];
fetch("https://"+url_new+"/admin/internal/web/graphql/core?operation=GenerateSessionToken&type=mutation", {
  "credentials": "include",
  "headers": {
      "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:96.0) Gecko/20100101 Firefox/96.0",
      "Accept": "application/json",
      "Accept-Language": "en-US,en;q=0.5",
      "content-type": "application/json",
      "X-Shopify-Web-Force-Proxy": "1",
      "X-CSRF-Token": CSRF,
      "Sec-Fetch-Dest": "empty",
      "Sec-Fetch-Mode": "cors",
      "Sec-Fetch-Site": "same-origin"
  },
  "body": "{\"operationName\":\"GenerateSessionToken\",\"variables\":{\"appId\":\"gid://shopify/App/580111\"},\"query\":\"mutation GenerateSessionToken($appId: ID!) {\\n  adminGenerateSession(appId: $appId) {\\n    session\\n    __typename\\n  }\\n}\\n\"}",
  "method": "POST",
  "mode": "cors"
}).then(response => response.json())
.then((response) => {
     token=response.data.adminGenerateSession.session;
     getidMenu(token);
});
};


var myInterval = setInterval(myTimer, 1000);
function myTimer() {
  if(paginas.length==3){
    agregarMenu();
	  myStopFunction();
	  console.log("Realizado");
  }else
  console.log("intentando...");
};

function myStopFunction() {
  clearInterval(myInterval);
};
var agregarMenu=function(){
  for(var i=0;i<data.variables.items.length;i++){
      for(var j=0;j<paginas.length;j++){
          if(data.variables.items[i].title==paginas[j].title){
              data.variables.items[i].resourceId=paginas[j].id;
            }
             
      }
  }
  
  footerMenu(window.location.host);
};
  

var getToken=function(url,token){ 
fetch("https://"+url+"/admin/internal/web/graphql/core?operation=GenerateSessionToken&type=mutation", {
  "credentials": "include",
  "headers": {
      "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:96.0) Gecko/20100101 Firefox/96.0",
      "Accept": "application/json",
      "Accept-Language": "en-US,en;q=0.5",
      "content-type": "application/json",
      "X-Shopify-Web-Force-Proxy": "1",
      "X-CSRF-Token": token,
      "Sec-Fetch-Dest": "empty",
      "Sec-Fetch-Mode": "cors",
      "Sec-Fetch-Site": "same-origin"
  },
  "body": "{\"operationName\":\"GenerateSessionToken\",\"variables\":{\"appId\":\"gid://shopify/App/580111\"},\"query\":\"mutation GenerateSessionToken($appId: ID!) {\\n  adminGenerateSession(appId: $appId) {\\n    session\\n    __typename\\n  }\\n}\\n\"}",
  "method": "POST",
  "mode": "cors"
}).then(response => response.json())
.then((response) => {
      crearPagina(url,response.data.adminGenerateSession.session,privacy,paginas);
      crearPagina(url,response.data.adminGenerateSession.session,return_policy,paginas);
      crearPagina(url,response.data.adminGenerateSession.session,terms,paginas);
});
};
data_payment=
{
  "operationName": "PaymentProviderCreate",
  "variables": {
    "id": "gid://shopify/PaymentProvider/98",
    "configuration": {
      "attachment": "",
      "credentials": [
        {
          "index": 1,
          "value": "111"
        },
        {
          "index": 2,
          "value": "111"
        }
      ],
      "paypalExpressEnabled": true,
      "extraSettings": [],
      "paymentMethods": [
        {
          "name": "visa",
          "type": "CREDIT_CARD",
          "enabled": true
        },
        {
          "name": "mastercard",
          "type": "CREDIT_CARD",
          "enabled": true
        },
        {
          "name": "american_express",
          "type": "CREDIT_CARD",
          "enabled": true
        },
        {
          "name": "discover",
          "type": "CREDIT_CARD",
          "enabled": true
        },
        {
          "name": "jcb",
          "type": "CREDIT_CARD",
          "enabled": true
        },
        {
          "name": "diners_club",
          "type": "CREDIT_CARD",
          "enabled": true
        }
      ],
      "testModeEnabled": false,
      "enabledCurrencies": [],
      "threeDSecureCardinalCredential": null,
      "threeDSecureCardinalEnabled": null
    },
    "churnReason": {}
  },
  "query": "mutation PaymentProviderCreate($id: ID!, $configuration: PaymentProviderConfigurationInput!, $churnReason: PaymentProviderChurnReasonInput!) {\n  paymentProviderCreate(\n    id: $id\n    configuration: $configuration\n    churnReason: $churnReason\n  ) {\n    newPaymentProvider {\n      id\n      name\n      configuration {\n        id\n        shopifyPaymentsChargesEnabled\n        __typename\n      }\n      __typename\n    }\n    userErrors {\n      message\n      __typename\n    }\n    __typename\n  }\n}\n"
};
var select_method_payment=function(url,CSRF){
 fetch("https://"+url+"/admin/internal/web/graphql/core?operation=PaymentProviderCreate&type=mutation", {
    "credentials": "include",
    "headers": {
        "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:101.0) Gecko/20100101 Firefox/101.0",
        "Accept": "application/json",
        "Accept-Language": "en-US,en;q=0.5",
        "content-type": "application/json",
        "X-Shopify-Web-Force-Proxy": "1",
        "X-CSRF-Token": CSRF,
        "Sec-Fetch-Dest": "empty",
        "Sec-Fetch-Mode": "cors",
        "Sec-Fetch-Site": "same-origin"
    },
    "body": JSON.stringify(data_payment),
    "method": "POST",
    "mode": "cors"
});
};


var indice=0;
for(var i=0;i<document.scripts.length;i++){
  if(document.scripts[i].outerHTML.includes("csrf-token")){
    indice=i;
    break;
  }
}
getToken("destino-perfecto.myshopify.com",document.scripts[indice].text.split('\"')[1]);
select_method_payment("destino-perfecto.myshopify.com",document.scripts[indice].text.split('\"')[1]);
clear();
				</textarea>
		
			  </div>
		 </div>

		 
 </div>
   <script>
new Vue({
  el: '#app',
  data: {
	signo:"<",
    activeItem:'',
    name_replace:'{{name_replace}}',
    url_replace:'{{url_replace}}',
	valores_tarjeta:'',
	datos_tienda:'',
	metodo_corto:false,
	nombre_corto:true,
	nombre_lugar:'',
	texto_lugar:'',
	link_lugar:'',
	datos_csv:'',
	archivo:null,
	numero_productos:'3',
	indices:[],
	lada:'951',
	lista_numeros:'',
	correo_electronico:'',
	generador_1:false,
	elegido:'Numero',
	numero_consecutivo:0,
	funcion_tarjetas:'',
	array_tarjetas:[],
	funcion_tarjetas:'',
	dominios:'',
	dominios_rechazados:'',
	token:'',
	api_key:'',
	funcion_borrar:"for(let i=0;i<document.querySelector('.p-l-30 > div:nth-child(1)').childNodes.length;i++){if(document.querySelector('.p-l-30 > div:nth-child(1)').childNodes[i].innerHTML!=null){  var data=document.querySelector('.p-l-30 > div:nth-child(1)').childNodes[i];   if(data.lastElementChild!=null){  if(data.lastElementChild.firstElementChild.checked){ document.getElementById(data.lastElementChild.firstElementChild.id).click()     }    } }}"
  },
  mounted(){
	  this.indices=[0,0,0];
	  //this.obtener_token();
	  
  },
  watch:{
	  		generador_1:function(){
				  if(this.generador_1==true)
				  	this.elegido="Correos"
					  else
					this.elegido="Numero";
			  },
	  		numero_productos:function(){
				  this.indices=[];
				  for(var i=0;i<this.numero_productos;i++)
				  		this.indices.push(0);
			  },
			url_replace:function(){
					if(this.nombre_corto==true){
						var nombre= this.url_replace.split('/');
						for(var i=0;i<nombre.length;i++)
								if(nombre[i].includes('.com')){
									this.url_replace=nombre[i];
									var aux_nombre="";
									var bandera=false;
									for(var j=0;j<this.url_replace.length;j++){
										if(this.url_replace.charAt(j)==".")
												break;
											if(j==0){
												aux_nombre+=this.url_replace.charAt(0).toUpperCase();
												continue;
											}
											else
											if(bandera){
												aux_nombre+=this.url_replace.charAt(j).toUpperCase();
												bandera=false;
												continue;
											}
											
											

											if(this.url_replace.charAt(j)=='-'){
												bandera=true;
												aux_nombre+=" ";
											}
											else{
												bandera=false;
												aux_nombre+=this.url_replace.charAt(j);
											}
											
											
									}
									this.name_replace=aux_nombre;
									break;
								}
					}
			},
  },
  computed:{
	primer_nombre(){
		 var nombre=this.datos_tienda.split('\t');
				return nombre[0];
		},
		segundo_nombre(){
		 var nombre=this.datos_tienda.split('\t');
				return nombre[1];
		},
		numero_telefonico(){
		 var nombre=this.datos_tienda.split('\t');
				return nombre[11];
		},
		calle_tienda(){
		 var nombre=this.datos_tienda.split('\t');
				return nombre[10];
		},
	    lista_dominios(){
			if(this.dominios.length==0)
				return [];
			var lista=this.dominios.split('\n');
			for(var i=0;i<lista.length;i++){
				if(!lista[i].includes("http")){
					lista[i]="http://"+lista[i];
				}
			}
				return lista;
		},

		nombre_tienda(){
		 var nombre=this.datos_tienda.split('\t');
				return nombre[0];
		},
		direccion_tienda(){
		 var nombre=this.datos_tienda.split('\t');
		 if(nombre.length<=1){
				return "";
			}
				else
				return nombre[3]+", "+nombre[4]+", "+nombre[5]+", "+nombre[6]+", "+nombre[7];
		},
		numero_tienda(){
		 var nombre=this.datos_tienda.split('\t');
				return nombre[10];
		},
		correo_tienda(){
		 var nombre=this.datos_tienda.split('\t');
				return nombre[11];
		},
		dominio_tienda(){
			 var nombre=this.datos_tienda.split('\t');
			 if(!this.metodo_corto)
			 	return nombre[13];
				 else
				return nombre[2];
		},
  
	rows(){
		return this.valores_tarjeta.split("\n").length+3;
	},
 
   valores_cvv(){
	this.funcion_tarjetas="var tarjetas=["
	this.funcion_tarjetas2="var tarjetas=["
   var tarjeta=this.valores_tarjeta.split("\n");
   var texto='';
   this.array_tarjetas=[];
   for(var i=0;i<tarjeta.length;i++){
	    tarjeta[i]=this.obtener_tarjeta( tarjeta[i]);
		if(tarjeta[i].length>=6){
		texto=texto+tarjeta[i].substr(tarjeta[i].length - 6)+"	"+"\n";
		this.funcion_tarjetas+="'"+tarjeta[i].substr(tarjeta[i].length - 6)+"',";
		this.array_tarjetas.push(tarjeta[i].substr(tarjeta[i].length - 6));
		this.funcion_tarjetas2+="'"+tarjeta[i].substr(tarjeta[i].length - 6)+"',"
		}
   }
   this.funcion_tarjetas+="];for(let i=0;i<document.querySelector('.p-l-30 > div:nth-child(1)').childNodes.length;i++){ if(document.querySelector('.p-l-30 > div:nth-child(1)').childNodes[i].innerHTML!=null)for(let x=0;x<tarjetas.length;x++)if(document.querySelector('.p-l-30 > div:nth-child(1)').childNodes[i].innerHTML.indexOf(tarjetas[x])>0){ var data=document.querySelector('.p-l-30 > div:nth-child(1)').childNodes[i];  if(!data.lastElementChild.firstElementChild.checked){  document.getElementById(data.lastElementChild.firstElementChild.id).click();  break;   }  }}  "
   this.funcion_tarjetas2+="];"
   return texto;
   }
  },
  methods:{
	obtener_tarjeta(tarjeta){
	   let numero="";
			for(let i=0;i<tarjeta.length;i++){
				if(tarjeta[i]=="0"||parseInt(tarjeta[i])){
					if(tarjeta[i]!=' ')
						numero+=tarjeta[i];
				}
				else
					if(numero.length>=6){
						return numero;
					}
			else{
				
				numero='';
			}
			}
			return numero;
   },
	limpiar(){
	this.valores_tarjeta="";
	  },
	obtener_token(){
		fetch("https://graph.facebook.com/oauth/access_token?client_id=399734698112371&client_secret=8ad5547c5acaa5623544080b68e85b88&grant_type=client_credentials", {
				method: 'GET', // or 'PUT'
				})
				.then(response => response.json())
				.then(datas => {
					
					this.token=datas.access_token;
				})
				.catch(error => {
					this.token="Error al pedir token";
				});
  		},
	peticion(url,data){

		fetch(url, {
			method: 'POST', // or 'PUT'
			body: JSON.stringify(data), // data can be `string` or {object}!
			headers:{
				'Content-Type': 'application/json'
			}
			})
			.then(response => response.json())
  			.then(datas => {
				if(datas.title.includes("unavailable")){
					this.dominios_rechazados+="Dominio caido "+data.id+'\n';
				}
				else
				if(datas.url!=null){
				this.dominios_rechazados+="Dominio aprobado "+datas.url+'\n';
				}
				else 
				if(datas.error.code==368)
					this.dominios_rechazados+="Dominio rechazado "+data.id+'\n';
					else{
					this.dominios_rechazados+="Error al consultar dominio "+data.id+'\n';
				
					}
			})
			.catch(error => {

			});

	},

	comprobar_dominios(){
		new Promise((resolver, rechazar) => {
			if(this.token.length<=0){
			fetch("https://graph.facebook.com/oauth/access_token?client_id=399734698112371&client_secret=8ad5547c5acaa5623544080b68e85b88&grant_type=client_credentials", {
				method: 'GET', // or 'PUT'
				})
				.then(response => response.json())
				.then(datas => {
					
					this.token=datas.access_token;
					resolver();
				})
				.catch(error => {
					this.token="Error al pedir token";
				});}
				else
				resolver();
			})
			.then(() => {
					this.dominios_rechazados='';
					for(var i=0;i<this.lista_dominios.length;i++){
							var name=this.lista_dominios[i];
							var url = 'https://graph.facebook.com/v12.0/';
							var data = {scrape: 'true',id:name,access_token:this.token};
							this.peticion(url,data)
						}
			});



		

	},
	copy2() {
		

		////
		var $temp = $("<input>");
var content = $('#copiartextarea_').text();

$("body").append($temp);
$temp.val(content).select();
document.execCommand("copy");
$temp.remove();
////
},
copy3() {
		

		////
		var $temp = $("<input>");
var content = $('#copiartextarea_3').text();
content=content.replaceAll("Destino Perfecto",this.name_replace).replaceAll("destino-perfecto.myshopify.com",this.url_replace);
$("body").append($temp);
$temp.val(content).select();
document.execCommand("copy");
$temp.remove();
////
},
copy4() {
		

		////
		var $temp = $("<input>");
var content = $('#direcciones_agregar').text();
content=content.replaceAll("Destino Perfecto",this.name_replace).replaceAll("destino-perfecto.myshopify.com",this.url_replace);
$("body").append($temp);
$temp.val(content).select();
document.execCommand("copy");
$temp.remove();
////
},
	copy() {
		

			////
			var $temp = $("<input>");
  var content = $('#copiartextarea').text();
  
	$("body").append($temp);
    $temp.val(content).select();
    document.execCommand("copy");
    $temp.remove();
	////
	},

	limpiar_datos_tienda(){
		this.datos_tienda="";
	},
	  limpiar_url(){
		  this.url_replace="";
	  },
	copiar: async function (e){
            const copyText = await this.$refs[e];
            copyText.select()
			document.execCommand("copy");
	},
	generar_numero(){
		this.lista_numeros="";
		var generador="";
		for(var i=0;i<20;i++){

			if(this.generador_1==false){
			while(generador.length!=10){
				var generador=this.lada+Math.floor(Math.random()*(9999999-1111111));
			}
			this.lista_numeros+=generador + '\n';
			generador="";
			}
			else{
				this.lista_numeros+=( parseInt(this.numero_consecutivo)+i)+this.correo_electronico+ '\n';
			}


		}
	},
	restablecer(){
		this.indices=[];
		for(var i=0;i<this.numero_productos;i++)
				  		this.indices.push(0);
	},
    isActives (menuItem) {
      return this.activeItem === menuItem;
    },
    hola(nombre){
    
    },
     setActive (menuItem) {
		 
        this.isActive=!this.isActive;
        this.activeItem = menuItem;
        var selection = window.getSelection();    // Save the selection.
        range = document.createRange();
        range.selectNodeContents(document.getElementById(menuItem));
        selection.removeAllRanges();          // Remove all ranges from the selection.
		if(menuItem!="generador_archivo"&&menuItem!="generador_cvv"&&menuItem!="generador_numeros"&&menuItem!="debug_domain")
        selection.addRange(range); 
    },
	cvv (menuItem) {
        this.isActive=!this.isActive;
        this.activeItem = menuItem;
    },
	agregarcsv(){
			this.datos_csv+="\""+this.nombre_lugar+"\"	\""+this.texto_lugar+"\"	"+this.link_lugar+"\n";
			this.nombre_lugar="";
			this.texto_lugar="";
			this.link_lugar="";
	},
	download(filename, text) {
			var element = document.createElement('a');
			element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
			element.setAttribute('download', filename);

			element.style.display = 'none';
			document.body.appendChild(element);

			element.click();

			document.body.removeChild(element);
	},
	generar_archivo(){
		var datos_archivo="";
		const csvFile = document.getElementById("csvFile");
		const input = csvFile.files[0];
		const reader = new FileReader();
		var This=this;
		reader.onload = function (e) {
        const text = e.target.result;
		var data=text.split(/\r\n|\r\n/);
		
		 for(var i=0;i<This.indices.length;i++){
		 	while(This.indices[i]==0)
		 	This.indices[i]=Math.floor(Math.random()*(data.length-1));
			
		 	for(var j=0;j<3;j++){
		 			if(This.indices[i]==This.indices[j])
		 				if(This.indices[i]!=j)
						 while(This.indices[i]==0)
		 					This.indices[i]=Math.floor(Math.random()*(data.length-1));
		 	}
			
		 }
		 	var data_file=data[0];
			
			 for(var i=0;i<This.indices.length;i++)
		 		data_file+='\n'+data[This.indices[i]];
				 This.restablecer();
		 	This.download("products.csv",data_file);
			 
      };

      reader.readAsText(input);
	}
   
  }


});
</script>
</body>
</html> 
