<!DOCTYPE html>
<html>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<style scoped>
body {font-family: Arial;}

/* Style the tab */
.alinear {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button:active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.tabcontent1 {
  display: block;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>
</head>
<body>
 <div id="app">

	<div style="display: flex;">
		<textarea @click="limpiar" style="display: flex;"v-model='ids_zeus' placeholder="Escribe los ID ZEUS" :rows="rows"></textarea>
	</div>
	
	<button @click="copyToClipBoard">Copiar script</button>
	<button @click="copyToClipBoard2">script ctr</button>
	<textarea id="copiar_" hidden>
		var datos=[];
		fetch("https://performance.goldenclickads.com/main/ws/update-campaigns-monitor/2", {
			"headers": {
			  "accept": "*/*",
			  "accept-language": "es-419,es;q=0.9,en;q=0.8",
			  "sec-ch-ua": "\" Not A;Brand\";v=\"99\", \"Chromium\";v=\"101\", \"Google Chrome\";v=\"101\"",
			  "sec-ch-ua-mobile": "?0",
			  "sec-ch-ua-platform": "\"macOS\"",
			  "sec-fetch-dest": "empty",
			  "sec-fetch-mode": "cors",
			  "sec-fetch-site": "same-origin",
			  "x-requested-with": "XMLHttpRequest"
			},
			"referrer": "https://performance.goldenclickads.com/main/campaigns-monitored/list/2",
			"referrerPolicy": "strict-origin-when-cross-origin",
			"body": null,
			"method": "GET",
			"mode": "cors",
			"credentials": "include"
		  }).then(response => response.json())
			.then(
				data =>{ 
				{{valores}}
				datos=data;
					var letras="\n";
				 for(var j=0;j<ids_zeus.length;j++){
					 var bandera=false;
					  for(var i=0;i<data.campaigns.length;i++){
							  if(document.getElementById(data.campaigns[i].id).getElementsByTagName("td")[6].textContent.replaceAll("\n","").replaceAll(" ","")==ids_zeus[j]){
									  letras+=data.campaigns[i].spend+"\n";
									  bandera=true;
								  }   
								  }
								  if(!bandera)
								  letras+="\n";
							  }
					  
					  console.log("-------------");
					  console.log("1"+letras);
					  console.log("-------------");
			  }
				);clear();
	</textarea>

	<textarea id="copiar_dos" hidden>
		fetch("https://performance.goldenclickads.com/main/ws/update-campaigns-monitor/2", {
			"headers": {
			  "accept": "*/*",
			  "accept-language": "es-419,es;q=0.9,en;q=0.8",
			  "sec-ch-ua": "\" Not A;Brand\";v=\"99\", \"Chromium\";v=\"101\", \"Google Chrome\";v=\"101\"",
			  "sec-ch-ua-mobile": "?0",
			  "sec-ch-ua-platform": "\"macOS\"",
			  "sec-fetch-dest": "empty",
			  "sec-fetch-mode": "cors",
			  "sec-fetch-site": "same-origin",
			  "x-requested-with": "XMLHttpRequest"
			},
			"referrer": "https://performance.goldenclickads.com/main/campaigns-monitored/list/2",
			"referrerPolicy": "strict-origin-when-cross-origin",
			"body": null,
			"method": "GET",
			"mode": "cors",
			"credentials": "include"
		  }).then(response => response.json())
			.then(
				data =>{ 
				{{valores}}
					var letras="\n";
				 for(var j=0;j<ids_zeus.length;j++){
					 var bandera=false;
					  for(var i=0;i<data.campaigns.length;i++){
							  if(document.getElementById(data.campaigns[i].id).getElementsByTagName("td")[6].textContent.replaceAll("\n","").replaceAll(" ","")==ids_zeus[j]){
									  letras+=data.campaigns[i].inline_link_click_ctr+"\n";
									  bandera=true;
								  }   
								  }
								  if(!bandera)
								  letras+="\n";
							  }
					  
					  console.log("-------------");
					  console.log("1"+letras);
					  console.log("-------------");
			  }
				);clear();
	</textarea>
	{{extraer_ids}}
		 
 </div>
   <script>
new Vue({
  el: '#app',
  data: {
	ids_zeus:'',
	valores:'',
  },
  mounted(){
	
  
  },
  watch:{
  },
  computed:{
	extraer_ids(){
				this.valores="var ids_zeus=["
				var datos=this.ids_zeus.split("\n");
				for(var i=0;i<datos.length;i++){
					datos[i]=datos[i].replaceAll(" ","");
					this.valores+='"'+datos[i].replaceAll(" ","")+'",';
				}
				this.valores+="];";
				return datos;
   }
  },
  methods:{
	copyToClipBoard2() {
		
		var $temp = $("<input>");
		var content = $('#copiar_dos').text();
		$("body").append($temp);
		$temp.val(content).select();
		document.execCommand("copy");
		$temp.remove();

},
	 copyToClipBoard() {
		
				var $temp = $("<input>");
				var content = $('#copiar_').text();
				$("body").append($temp);
				$temp.val(content).select();
				document.execCommand("copy");
				$temp.remove();

	},
	rows(){
		return this.valores_tarjeta.split("\n").length+3;
	},
	obtener_tarjeta(tarjeta){
	   let numero="";
			for(let i=0;i<tarjeta.length;i++){
				if(parseInt(tarjeta[i])>=0){
					if(tarjeta[i]!=' ')
						numero+=tarjeta[i];
				}
				else
					if(numero.length==16){
						return numero;
					}
			else{
				numero='';
			}
			}
			return numero;
   },
	limpiar(){
	this.id_zeus="";
	this.valores="";
	  },
  }


});
</script>
</body>
</html> 
