<!DOCTYPE html>
<html>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<style scoped>
		body {
			font-family: Arial;
		}

		/* Style the tab */
		.alinear {
			margin: auto;
			width: 60%;
			border: 3px solid #73AD21;
			padding: 10px;
		}

		.tab {
			overflow: hidden;
			border: 1px solid #ccc;
			background-color: #f1f1f1;
		}

		/* Style the buttons inside the tab */
		.tab button {
			background-color: inherit;
			float: left;
			border: none;
			outline: none;
			cursor: pointer;
			padding: 14px 16px;
			transition: 0.3s;
			font-size: 17px;
		}

		/* Change background color of buttons on hover */
		.tab button:hover {
			background-color: #ddd;
		}

		/* Create an active/current tablink class */
		.tab button:active {
			background-color: #ccc;
		}

		/* Style the tab content */
		.tabcontent {
			display: none;
			padding: 6px 12px;
			border: 1px solid #ccc;
			border-top: none;
		}

		.tabcontent1 {
			display: block;
			padding: 6px 12px;
			border: 1px solid #ccc;
			border-top: none;
		}
	</style>
</head>

<body>
	<div id="app">

		<div style="display: flex;">
			<textarea  style="display: flex;" v-model='links' placeholder="Escribe links"
				:rows="rows"></textarea>
			
		</div>
		<button @click="comprobar_script">Comprobar sitios</button>
		
		<textarea  style="display: flex;" v-model='resultados' placeholder="Resultados" disabled
		rows="rows" cols="160"></textarea>
		Porcentaje:  {{porcentaje}} %

	</div>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script>
		new Vue({
			el: '#app',
			data: {
				links: '',
				valores: '',
				rows: 5,
				resultados:'',
				porcentaje:0,
				acumulador:0,
			},
			mounted() {


			},
			watch: {
			},
			computed: {
			},
			methods: {

				comprobar_script() {
					this.porcentaje=0;
					this.resultados='';
					var links = this.links.split("\n");
					this.acumulador=parseInt(100/links.length);
					//for(var i=0;i<links.length;i++){
					//	this.peticion(links[i]);
					//}
					this.peticion("");
				},

				peticion(url) {
			

						// Make a request for a user with a given ID
						axios.get('https://dustinanderson.shop')
						.then(function (response) {
							// handle success
							console.log(response);
						})
						.catch(function (error) {
							// handle error
							console.log(error);
						})
						.finally(function () {
							// always executed
						});
				},

				limpiar() {
					this.links = "";
					this.valores = "";
				},
			}


		});
	</script>
</body>

</html>