<!DOCTYPE html>
<html lang="en">
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta name="description" content="Analisar datos">
	<meta content="utf-8" http-equiv="encoding">
	<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet" async>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
	
</head>
<body>
 <div id="app">
	<v-app >
			<v-card>
				<v-card-text>
				<v-row >
					<v-col cols="2"  sm="5"  md="6">
						<v-btn v-on:click="empezar" color="blue" small >Checar</v-btn>
						<v-btn v-on:click="limpiar"color="blue" small>Limpiar</v-btn>
					</v-col>
					
				</v-row>
				<v-row>
					<v-col cols="2">
						<v-textarea  outlined v-model='cuentas_uno' label="Cuentas uno" placeholder="Cuentas uno" cols="30" rows="5"></v-textarea>
					</v-col>
					<v-col cols="2">
						<v-textarea  outlined v-model='cuentas_dos' label="Cuentas dos" placeholder="Cuentas dos" cols="30" rows="5"></v-textarea>
					</v-col>
				</v-row>
			   <v-row>
				<v-col cols="2">
				   <v-textarea outlined 
				   v-model='no_econtradas_uno' 
				   label="Cuentas uno"
				   placeholder="Cuentas uno" cols="30" rows="10"></v-textarea>
				</v-col>
				<v-col cols="2">
				   <v-textarea outlined v-model='no_econtradas_dos'
				   label="Cuentas dos"
				   placeholder="Cuentas dos" cols="30" rows="10"></v-textarea>
				</v-col>
			   </v-row>
			  <div>
			   <v-textarea v-model='repetidas' v-if="repetidas.length>0"placeholder="Cuentas repetidas" cols="5" rows="10" outlined></v-textarea>
			  </div>
			  <div>
				  <v-btn @click="mathc=!mathc" small color="blue">Mathc ips, nombres</v-btn>
				  <v-btn @click="limpiar_match" small color="blue">Limpiar</v-btn>
				  <div v-if="mathc">
				   Hola aqui puedes hacer mathc
		   
					  <v-row>
						<v-col cols="2">
					   <v-textarea v-model='mathc_1' outlined placeholder="Cuentas uno" cols="30" rows="10"></v-textarea>
						</v-col>
						<v-col cols="2">
					   <v-textarea v-model='mathc_2' outlined placeholder="Cuentas dos" cols="30" rows="10"></v-textarea>
					</v-col>
					  </v-row>  
					  <v-row>
						<v-col cols="4">
					   <v-textarea v-model='no_mathc' outlined placeholder="Cuentas no concuerdan" cols="30" rows="10"></v-textarea>
						</v-col>
					  </v-row>
				  </div>
			  </div>
			</v-card-text>
			</v-card>
	</v-app>
	
 </div>
   <script>
new Vue({
  el: '#app',
  vuetify: new Vuetify(),
  data: {
	  cuentas_uno:'',
	  cuentas_dos:'',
	  no_econtradas_uno:'',
	  no_econtradas_dos:'',
	  mathc_1:'',
	  mathc_2:'',
	  mathc:false,
	  repetidas:[],
  },
  mounted(){
	this.$vuetify.theme.dark=true;
  },
  computed:{
	no_mathc(){
		var a=this.getNombre_Ip(this.mathc_1);
		var b=this.getNombre_Ip(this.mathc_2);
		return this.find_ip(a,b);
	}
  
  },
  methods:{
	limpiar_match(){
		this.mathc_1=this.mathc_2="";
	},
	  add_array:function(data,array_data){
			for(var i=0;i<data.length;i++){
				array_data.push(data[i]);
			}
	  },
	  find_ip:function(array_1,array_2){
		 var data=[];
		  for(var i=0;i<array_2.length;i++){
				if(!array_1.find(name=>name.nombre===array_2[i].nombre&&name.ip===array_2[i].ip)){
					data.push(array_2[i].nombre);
				}
		  }
		  if(data.length==0)
		  return "Todo correcto";
		  return data;
	  },
	  getNombre_Ip:function(dato){
		filas=dato.split("\n");
		valores=[];
		for(let i=0;i<filas.length;i++){
			console.log(filas[i]+"  fila  "+i);
			separador=filas[i].split('	');
			var nombre="";
			var ip="";
			for(let j=0;j<separador.length;j++){
				
				if(separador[j].includes("-")){
					
					separador[j]=separador[j].split(/\s+/).join('')
					nombre=separador[j].split("-")[0].trim();
					
				}
				
				if(separador[j].split(".").length==4){
					ip=separador[j];
					
					var json_1={"nombre":nombre,"ip":ip};
					if(nombre!=null)
					valores.push(json_1);
					break;
				}	
			}
		}
		return valores;
	  },
	limpiar(){
		this.cuentas_uno=this.cuentas_dos=this.no_econtradas_uno=this.no_econtradas_dos="";
		this.repetidas=[];
	},
	array_datos: function(dato){
		filas=dato.split("\n");
		valores=[];
		for(let i=0;i<filas.length;i++){
			separador=filas[i].split('	');
			for(let j=0;j<separador.length;j++){
				if(separador[j].includes("-")){
					valores.push(separador[j].split("-")[0].trim());
					break;
				}	
			}
		}
		return valores;
	},
	array_no_tiene:function(arreglo,arreglo2){
		valores="";
			for(let i=0;i<arreglo.length;i++){
				if(arreglo2.indexOf(arreglo[i])<0){
					valores+=arreglo[i]+"\n";
				}
				
					
			}
			if(valores.length<1)
				return "Todo correcto";
			return valores;
	},
	empezar(){
		lista_uno=this.array_datos(this.cuentas_uno).sort();
		lista_dos=this.array_datos(this.cuentas_dos).sort();
		this.valores_repetidos(lista_uno);
		this.valores_repetidos(lista_dos);
		this.no_econtradas_uno=this.array_no_tiene(lista_uno,lista_dos);
		this.no_econtradas_dos=this.array_no_tiene(lista_dos,lista_uno);
	},
	valores_repetidos(valores){
						let duplicados = [];
						const tempArray =valores;
						for (let i = 0; i < tempArray.length; i++) {
						if (tempArray[i + 1] === tempArray[i]) {
							duplicados.push(tempArray[i]);
						}
						}
						for(let i=0;i<duplicados.length;i++){
							this.repetidas.push(duplicados[i]);
						}
	}
  }


});
</script>
</body>
</html> 
