<!DOCTYPE html>
<html>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  </head>
<body>

<div id="app">
  <v-app >
    <v-card>
      <v-card-text>
    <h1>Nombre de las direcciones</h1>
    <label for="urls">Escriba las direcciones</label>
    <v-btn type="v-btn" @click="crearlinks" color="blue">Generar links correo!</v-btn>
    <v-textarea  outlined id="urls"rows="4" cols="50" v-model="urls">
    </v-textarea>
    
    <v-row v-for="direccion in direcciones">
      <!-- {{direccion.url}} -->
      <a v-bind:href ="direccion.url">{{direccion.nombre}}</a>
    <br/>
   </v-row>>

      <v-row>
        <v-col cols="2">
          <v-row>
                <v-btn type="v-btn" @click="generarPassword"color="blue">generar Password</v-btn></v-row>
                <v-row>    <v-textarea  outlined id="passwords"rows="4" cols="50" v-model="passwords">
              </v-textarea></v-row>
           
          </v-col>
          <v-col cols="1"></v-col>
          <v-col cols="2">
            <v-row>
                <v-btn type="v-btn" @click="generarCalles"color="blue" >generar Calles</v-btn>
              </v-row>
              <v-row> 
                <v-textarea  outlined id="calles"rows="4" cols="50" v-model="calles_generadas">
              </v-textarea>
            </v-row>
          </v-col>
      </v-row>
	
      </v-card-text>
    </v-card>
  </v-app>
	</div>
<script>
var myObject = new Vue({
  el: '#app',
  vuetify: new Vuetify(),
  data: {
      urls:'',
	  passwords:'',
      direcciones:[],
	  calles:'Abasolo,Abogados,Acamapixtli,Acero,Achiutla,Aconcahua,Acueducto,Administradores,Adriana,Aerolitos,Agua,Ahuehuetes,Ahuitzotl,Ahuízotl,Ajusco,Álamos,Alari,Alaripes,Alcalá,Aldama,Alejandrina,Alejandrinas,Alfarería,Algodoneros,Alhelí,Alianza,Allende,Almendros,Alpes,Amacuzac,Amapolas,Amarillo,Amatista,Ámbar,Amuzgos,Anáhuac,Anaranjado,Anarquismo,Angelinas,Añil,Antequera,Antirreeleccionismo,Apeninos,Apolo,Aquiles,Araucaria,Araucarias,Argentina,Ariel,Arista,Arquitecto,Arrabio,Arroyo,Arteaga,Atenea,Atoyac,Aviadores,Avión,Axayácatl,Ayocuan,Ayutla,Azabache,Azaleas,Azares,Azomatli,Azteca,Azucenas,Azul,Bacocho,Balachi,Balboa,Barniz,Belén,Berriozábal,Biólogos,Bolivia,Brasil,Brisa,Brisas,Bucareli,Bugambilias,Burgoa,Bustamante,Café,Calasanz,California,Calixto,Calvario,Camelias,Campeche,Cantantes,Cantera,Canteras,Caoba,Carbajal,Carey,Carteros,Castañeda,Casuarina,Catalina,Catemaco,Cazahuate,Cedro,Cedros,Ceiba,Cempoalt,Cempoaltepetl,Central,Cerámica,Cerezos,Cetoba,Chamizal,Chapala,Chapultepec,Chatinos,Chegole,Chicago,Chihuahua,Chimalapa,Chimalpopoca,Choápam,Chontales,Cielo,Cieneguita,Ciprés,Circonia,Circunvalación,Citlali,Citlaltépetl,Claveles,Club,Coahuila,Cochicahualala,Coixtlahuaca,Colima,Colón,Colorines,Columbia,Constelación,Constitución,Constituyentes,Contadores,Conzatti,Coral,Corderinas,Corregidora,Cosijo,Cosijoeza,Cosijopí,Cosmos,Crespo,Crisalito,Crisantemos,Crisólito,Cuarzo,Cuatlicue,Cuauhtémoc,Cuicatlán,Cuitláhuac,Curtidurías,Dainzu,Dalias,Danzantes,Democracia,Desandehui,Diamante,Dibujantes,Doctores,Dolores,Donaji,Doroteo,Durango,Ebanistería,Ébano,Ebanos,Economistas,Educación,Ejutla,Elvira,Encinal,Encino,Encinos,Enebros,Ensenada,Escalante,Escobilla,Escritores,Escultores,Esmeralda,Etla,Eucalipto,Eucaliptos,Everest,Excelsior,Expropiación,Fátima,Febe,Federalismo,Ferrocarril,Fibonacci,Ficus,Florencia,Flores,Florida,Framboyán,Framboyanes,Fresnito,Fresno,Fresnos,Fujiyama,Fundadores,Fundidores,Galaxia,Galeana,Galilea,Gardenias,Gema,Geólogos,Geranios,Girasol,Girasoles,Gladiolas,Gobete,Granate,Guadalajara,Guadarrama,Guanajuato,Guatemala,Guelaguetza,Guelatao,Guerrero,Guigovela,Guiigu,Henequeneros,Hidalgo,Hierro,Higueras,Himalaya,Hiperion,Honduras,Hornos,Hortensias,Hoteleros,Huajuapam,Huamelula,Huamúchil,Huatulco,Huaves,Huijatoo,Huijazoo,Huitzilíhuitl,Huitzilopóchtli,Huiyatoo,Humboldt,Huzares,Iguazu,Ilhuicamina,Independencia,Industrial,Ingenieros,Insurgentes,Iris,Isabel,Itandehui,Iturbide,Ivette,Ixtlán,Ixtleros,Izalco,Iztaccíhuatl,Jacalon,Jacarandas,Jade,Jalatlaco,Jalisco,Jamiltepec,Jardín,Jaspe,Jazmines,Jazpe,Jordán,Jorullo,Juanacatlán,Juárez,Júpiter,Juquila,Juquilita,Justicia,Labastida,Lambityeco,Laminadores,Laurel,Laureles,Leovaa,Liberalismo,Libertad,Libres,Limón,Limoneros,Limonita,Linderos,Lira,Lirios,Lluvia,Lucero,Madereros,Madero,Magnetita,Magnolia,Magnolias,Malinche,Mangales,Mantecón,Manzanal,Manzanos,Maple,Marfil,Margarita,Margaritas,Marisol,Marquezado,Marte,Matemáticos,Maya,Mayas,Mazateco,Mazatecos,Meneyadela,Mercedes,Mercurio,Mérida,Metalistería,Mexicali,Mexicapam,Mexicas,México,Michoacán,Micitlan,Microondas,Minería,Mirador,Misisipi,Mitla,Mixcoatl,Mixes,Mixteca,Mixtecas,Mixteco,Moctezuma,Monterrey,Montoya,Morado,Morelia,Morelos,Murguía,Músicos,Nácar,Nacionalismo,Nanchital,Naranja,Naranjos,Nayarit,Necaxa,Neptuno,Netzahualpilli,Nezahualcóyotl,Niágara,Niazanavani,Nieve,Nindehui,Ninguno,Niños,Nizaa,Nochixtlán,Nogal,Nogales,Norte,Noyoo,Nube,Oaxaca,Observatorio,Obsidiana,Ocotlán,Olimpo,Olivina,Olivos,Olmeca,Olmecas,Ónice,Ónix,Ópalo,Orfebres,Oriente,Orión,Orquídeas,Otoño,Pajaritos,Palestina,Palmar,Palmas,Palmeras,Panamá,Papayos,Papiros,Paraíso,Parián,Paricutín,Particulares,Pavón,Paynani,Pedregal,Pelaxilia,Peñasco,Pensamientos,Peonias,Periférico,Perla,Perú,Petela,Pichina,Pigoti,Pino,Pinopia,Pinos,Pinotepa,Pintores,Pípila,Pirineos,Pirules,Pitágoras,Planetario,Plateros,Platón,Plutón,Pochutla,Pocitos,Poetas,Poniente,Popocatépetl,Porcelana,Praderas,Presidente,Primavera,Principal,Progreso,Psicólogos,Puebla,Púrpura,Quechapa,Querétaro,Quetzalcóatl,Quiches,Quijxi,Químicos,Quinceo,Rayón,Refinería,Reforma,Regeneración,Relicario,Renacimiento,República,Revolución,Roble,Robles,Rocío,Rojo,Rosa,Rosalba,Rosalinda,Rosas,Rubí,Sabinos,Salamanca,Santibáñez,Satélite,Saturno,Sauces,Sayula,Selene,Siderita,Siderurgia,Silacayoapan,Sinaloa,Sindihui,Socialismo,Soconusco,Soledad,Solidaridad,Sonora,Tabasco,Tacaná,Tacubaya,Tamaulipas,Tancítaro,Tarangutín,Tecnológico,Tecóatl,Tehuantepec,Tenochtitlan,Tepetapam,Texcatlipocatl,Textileria,Tibott,Tijuana,Tikal,Tilantongo,Titán,Tízoc,Tlacojalpan,Tlacolula,Tláloc,Tlatelolco,Tlaxcala,Tlaxiaco,Tolteca,Toluca,Topacio,Torres,Totontepec,Transbordador,Transmisiones,Trasbordador,Trinidad,Triquis,Triunfo,Tule,Tulipanes,Turquesa,Tututepec,Tuxpango,Tuxtepec,Ulises,Umbriel,Universidad,Universo,Urano,Valdivieso,Vasconcelos,Vega,Venecia,Venezuela,Venturina,Venus,Veracruz,Verde,Vespertino,Vesubio,Veterinarios,Villahermosa,Violeta,Violetas,Vistahermosa,Volcano,Xaquiato,Xaquieya,Xicoténcatl,Ximena,Xinantécatl,Xochilt,Xochimilco,Xochipilli,Xóchitl,Xólotl,Yaga,Yagul,Yautepec,Yucatán,Yucuita,Yuriria,Zaachila,Zacatecas,Zacatepec,Zafiro,Zapote,Zapotecas,Zaragoza,Zárate,Zeetoba,Zempoala,Zempoaltepetl,Zempoatepetl,Zetobaa,Zeus,Zicatela,Zinatecatl,Zipolite,Zompantle,Zompantles,Zoocahue,Zooche,Zoochila,Zoológico,Zoques,Zorrilla,Zotula',
	  calles_generadas:'',
  },
  mounted(){
	this.calles=this.calles.split(',');
  this.$vuetify.theme.dark=true;
  },
  methods:{
    copy(content) {
            ////
            var $temp = $("<input>");
          $("body").append($temp);
          $temp.val(content).select();
          document.execCommand("copy");
          $temp.remove();
        ////
    },
		generarCalles(){
			this.calles_generadas='';
			for(var i=0;i<100;i++){
				this.calles_generadas+=this.calles[Math.floor(Math.random() * (this.calles.length - 0)) + 0]+' '+Math.floor(Math.random() * (100 - 1)) + 1+'\n';
			}
		},
		generarPassword(){
		this.passwords='';
				for( i=0;i<100;i++){
		this.passwords+=Math.random().toString(36).slice(-10)+'\n';
                          }
    this.copy(this.passwords);
		},
      crearlinks(){
          this.direcciones=[];
          var enlaces= this.urls.split("\n");
        for(var i=0;i<enlaces.length;i++){
			  var link="https://www.namecheap.com/hosting/email/email-domain-configuration.aspx?domainname="+enlaces[i]+"&domaintype=REGISTER&product=ox-starter&duration=2&durationtype=MONTH&producttype=oxhosting&action=purchase&isagree=1&availablemailnames=&relitemid=0&istrial=True&addons=1&domainduration=1&domaindurationtype=YEAR";
			//var link="https://www.namecheap.com/hosting/email/email-domain-configuration.aspx?domainname="+enlaces[i]+"&domaintype=EXISTING&product=ox-starter&duration=2&durationtype=MONTH&producttype=oxhosting&action=purchase&isagree=1&relitemid=0&istrial=True&addons=1";
          this.direcciones.push({url:link,nombre:enlaces[i]});
        }
          
      }
  }


})
</script>

</body>
</html>
